USE [master]
GO
/****** Object:  Database [BDCredimuebles]    Script Date: 19/8/2024 14:57:42 ******/
CREATE DATABASE [BDCredimuebles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDCredimuebles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCredimuebles.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDCredimuebles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCredimuebles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDCredimuebles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDCredimuebles]
GO
/****** Object:  Table [dbo].[BitacoraProducto]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraProducto](
	[idBProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[IdProducto] [bigint] NULL,
	[idUsuario] [bigint] NULL,
	[accion] [varchar](100) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK__Bitacora__670B5F3242441178] PRIMARY KEY CLUSTERED 
(
	[idBProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraProveedores]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraProveedores](
	[idBProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[accion] [varchar](50) NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK__Bitacora__2075B6F89E93020D] PRIMARY KEY CLUSTERED 
(
	[idBProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[idCategoria] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK__Categori__8A3D240CF24AA476] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comisiones]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comisiones](
	[idComision] [bigint] IDENTITY(1,1) NOT NULL,
	[idSalida] [bigint] NULL,
	[fecha] [date] NULL,
	[descripcion] [varchar](255) NULL,
	[monto] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Comision__12A3EDC23A16B5BE] PRIMARY KEY CLUSTERED 
(
	[idComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlCaja]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlCaja](
	[fechaID] [date] NOT NULL,
	[totalventas] [int] NULL,
	[montoVentas] [decimal](10, 2) NULL,
	[ganancia] [decimal](10, 2) NULL,
	[comisiones] [decimal](10, 2) NULL,
	[idGasto] [bigint] NULL,
	[totalCaja] [decimal](10, 2) NULL,
	[dineroDeVentas] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fechaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorCobrar]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorCobrar](
	[idCuenta] [bigint] IDENTITY(1,1) NOT NULL,
	[idCliente] [bigint] NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[plazo] [int] NOT NULL,
	[montoPagado] [decimal](10, 2) NOT NULL,
	[fechaAbono] [date] NULL,
	[saldo] [decimal](10, 2) NOT NULL,
	[proximoPago] [date] NULL,
	[MontoVenta] [decimal](10, 2) NULL,
	[CuentaCancelada] [bit] NULL,
 CONSTRAINT [PK__CuentasP__BBC6DF3293B72670] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[idGasto] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[monto] [decimal](10, 2) NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK__Gastos__F25CC32111B36A4A] PRIMARY KEY CLUSTERED 
(
	[idGasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[idMetodoPago] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[comision] [decimal](10, 2) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__MetodosP__817BFC32101CBA8F] PRIMARY KEY CLUSTERED 
(
	[idMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosACuenta]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosACuenta](
	[idLinea] [bigint] IDENTITY(1,1) NOT NULL,
	[idCuenta] [bigint] NOT NULL,
	[fechaPago] [date] NULL,
	[montoVenta] [decimal](10, 2) NULL,
	[montoPago] [decimal](10, 2) NULL,
	[numeroFactura] [varchar](50) NULL,
 CONSTRAINT [PK_PagosACuenta] PRIMARY KEY CLUSTERED 
(
	[idLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Email] [nvarchar](256) NOT NULL,
	[Token] [nvarchar](256) NOT NULL,
	[Expiration] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[idCategoria] [bigint] NULL,
	[idProveedor] [bigint] NULL,
	[cantidadStock] [int] NULL,
	[costo] [decimal](10, 2) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__Producto__07F4A1321BC6B0C7] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoSalida]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoSalida](
	[idLinea] [bigint] IDENTITY(1,1) NOT NULL,
	[IdSalida] [bigint] NULL,
	[idProducto] [bigint] NULL,
	[cantidad] [int] NULL,
	[costoSalida] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Producto__4F210ABFB723F06E] PRIMARY KEY CLUSTERED 
(
	[idLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosBajoStock]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosBajoStock](
	[idStockBajo] [bigint] IDENTITY(1,1) NOT NULL,
	[idProducto] [bigint] NOT NULL,
	[NombreProducto] [varchar](255) NOT NULL,
	[cantidadStock] [int] NOT NULL,
	[idProveedor] [bigint] NULL,
	[fechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idStockBajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__Proveedo__A3FA8E6BC248ADFA] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salidas]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salidas](
	[idSalida] [bigint] IDENTITY(1,1) NOT NULL,
	[idCliente] [bigint] NULL,
	[cantidadProductos] [int] NULL,
	[idMetodoPago] [bigint] NULL,
	[montoDeVenta] [decimal](10, 2) NULL,
	[costoVenta] [decimal](10, 2) NULL,
	[idVendedor] [bigint] NULL,
	[ganancia] [decimal](10, 2) NULL,
	[fecha] [date] NULL,
	[comisionVendedor] [decimal](10, 2) NULL,
	[comisionVenta] [decimal](10, 2) NULL,
	[numeroFactura] [varchar](50) NULL,
	[montoPagado] [decimal](10, 2) NULL,
	[idCuenta] [bigint] NULL,
 CONSTRAINT [PK__Salidas__25AFC22A47FAD7CD] PRIMARY KEY CLUSTERED 
(
	[idSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockRecomendado]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockRecomendado](
	[idStockRecomendado] [bigint] IDENTITY(1,1) NOT NULL,
	[idStockBajo] [bigint] NULL,
	[idProducto] [bigint] NULL,
	[cantidadRecomendada] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idStockRecomendado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/8/2024 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[idrol] [bigint] NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](100) NULL,
	[contrasenna] [varchar](100) NULL,
	[correo] [varchar](100) NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [varchar](255) NULL,
	[estado] [bit] NULL,
	[usuario] [varchar](50) NULL,
	[cedula] [varchar](50) NULL,
 CONSTRAINT [PK__Usuario__080A974337FC8558] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriaProducto] ON 

INSERT [dbo].[CategoriaProducto] ([idCategoria], [descripcion]) VALUES (1, N'Sofás')
INSERT [dbo].[CategoriaProducto] ([idCategoria], [descripcion]) VALUES (2, N'Camas')
INSERT [dbo].[CategoriaProducto] ([idCategoria], [descripcion]) VALUES (3, N'Juegos de sala')
SET IDENTITY_INSERT [dbo].[CategoriaProducto] OFF
GO
INSERT [dbo].[ControlCaja] ([fechaID], [totalventas], [montoVentas], [ganancia], [comisiones], [idGasto], [totalCaja], [dineroDeVentas]) VALUES (CAST(N'2024-08-12' AS Date), 5, CAST(1250000.00 AS Decimal(10, 2)), CAST(767000.00 AS Decimal(10, 2)), CAST(55000.00 AS Decimal(10, 2)), 1, NULL, CAST(1065000.00 AS Decimal(10, 2)))
INSERT [dbo].[ControlCaja] ([fechaID], [totalventas], [montoVentas], [ganancia], [comisiones], [idGasto], [totalCaja], [dineroDeVentas]) VALUES (CAST(N'2024-08-14' AS Date), 8, CAST(1750000.00 AS Decimal(10, 2)), CAST(819500.00 AS Decimal(10, 2)), CAST(99500.00 AS Decimal(10, 2)), 2, NULL, CAST(1050000.00 AS Decimal(10, 2)))
INSERT [dbo].[ControlCaja] ([fechaID], [totalventas], [montoVentas], [ganancia], [comisiones], [idGasto], [totalCaja], [dineroDeVentas]) VALUES (CAST(N'2024-08-15' AS Date), 3, CAST(750000.00 AS Decimal(10, 2)), CAST(540000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)), 10002, NULL, CAST(750000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Gastos] ON 

INSERT [dbo].[Gastos] ([idGasto], [descripcion], [monto], [fecha]) VALUES (1, N'Compra en ferreteria', CAST(10000.00 AS Decimal(10, 2)), CAST(N'2024-08-16' AS Date))
INSERT [dbo].[Gastos] ([idGasto], [descripcion], [monto], [fecha]) VALUES (2, N'Pago Alquiler', CAST(500000.00 AS Decimal(10, 2)), CAST(N'2024-08-16' AS Date))
INSERT [dbo].[Gastos] ([idGasto], [descripcion], [monto], [fecha]) VALUES (10002, N'Gasto Inicial', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Gastos] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodosPago] ON 

INSERT [dbo].[MetodosPago] ([idMetodoPago], [descripcion], [comision], [estado]) VALUES (1, N'Tasa 0 6 meses Bac', CAST(12.50 AS Decimal(10, 2)), 1)
INSERT [dbo].[MetodosPago] ([idMetodoPago], [descripcion], [comision], [estado]) VALUES (2, N'Tasa 0 3 meses Bac', CAST(12.50 AS Decimal(10, 2)), 1)
INSERT [dbo].[MetodosPago] ([idMetodoPago], [descripcion], [comision], [estado]) VALUES (3, N'Tasa 0 6 meses BN', CAST(10.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[MetodosPago] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [nombre], [idCategoria], [idProveedor], [cantidadStock], [costo], [estado]) VALUES (1, N'Sofa Cama', 1, 2, 2, CAST(45000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([idProducto], [nombre], [idCategoria], [idProveedor], [cantidadStock], [costo], [estado]) VALUES (2, N'Sala 3-2 Kali', 1, 1, 3, CAST(125000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([idProducto], [nombre], [idCategoria], [idProveedor], [cantidadStock], [costo], [estado]) VALUES (3, N'Cama King', 2, 2, 2, CAST(250000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoSalida] ON 

INSERT [dbo].[ProductoSalida] ([idLinea], [IdSalida], [idProducto], [cantidad], [costoSalida]) VALUES (76, 10049, 16, 2, CAST(145000 AS Decimal(18, 0)))
INSERT [dbo].[ProductoSalida] ([idLinea], [IdSalida], [idProducto], [cantidad], [costoSalida]) VALUES (77, 10049, 22, 1, CAST(115000 AS Decimal(18, 0)))
INSERT [dbo].[ProductoSalida] ([idLinea], [IdSalida], [idProducto], [cantidad], [costoSalida]) VALUES (91, 10050, 16, 5, CAST(145000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ProductoSalida] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductosBajoStock] ON 

INSERT [dbo].[ProductosBajoStock] ([idStockBajo], [idProducto], [NombreProducto], [cantidadStock], [idProveedor], [fechaRegistro]) VALUES (5, 1, N'Sofa Cama', 2, 2, CAST(N'2024-08-01T17:47:59.580' AS DateTime))
INSERT [dbo].[ProductosBajoStock] ([idStockBajo], [idProducto], [NombreProducto], [cantidadStock], [idProveedor], [fechaRegistro]) VALUES (6, 2, N'Sala 3-2 Kali', 3, 1, CAST(N'2024-08-01T17:47:59.580' AS DateTime))
INSERT [dbo].[ProductosBajoStock] ([idStockBajo], [idProducto], [NombreProducto], [cantidadStock], [idProveedor], [fechaRegistro]) VALUES (7, 3, N'Cama King', 2, 2, CAST(N'2024-08-01T17:47:59.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductosBajoStock] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (1, N'Daniel Quiros', N'22580455', N'quiros@gmail.com', N'Sarchí', 0)
INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (2, N'Bismar', N'60609090', N'bismarkperosnal@gmail.com', N'Palmares', 1)
INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (8, N'Alfonso', N'61744941', N'josefino@yahoo.es', N'San Ramón', 1)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (2, N'Gerente')
INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (3, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Salidas] ON 

INSERT [dbo].[Salidas] ([idSalida], [idCliente], [cantidadProductos], [idMetodoPago], [montoDeVenta], [costoVenta], [idVendedor], [ganancia], [fecha], [comisionVendedor], [comisionVenta], [numeroFactura], [montoPagado], [idCuenta]) VALUES (10042, 10025, 1, 5, CAST(250000.00 AS Decimal(10, 2)), CAST(125000.00 AS Decimal(10, 2)), 10023, CAST(120000.00 AS Decimal(10, 2)), CAST(N'2024-07-03' AS Date), CAST(5000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'748', CAST(250000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Salidas] ([idSalida], [idCliente], [cantidadProductos], [idMetodoPago], [montoDeVenta], [costoVenta], [idVendedor], [ganancia], [fecha], [comisionVendedor], [comisionVenta], [numeroFactura], [montoPagado], [idCuenta]) VALUES (10049, 10039, 3, 4, CAST(600000.00 AS Decimal(10, 2)), CAST(405000.00 AS Decimal(10, 2)), 10023, CAST(183000.00 AS Decimal(10, 2)), CAST(N'2024-07-17' AS Date), CAST(12000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'715', CAST(600000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Salidas] ([idSalida], [idCliente], [cantidadProductos], [idMetodoPago], [montoDeVenta], [costoVenta], [idVendedor], [ganancia], [fecha], [comisionVendedor], [comisionVenta], [numeroFactura], [montoPagado], [idCuenta]) VALUES (10050, 10041, 5, 4, CAST(700000.00 AS Decimal(10, 2)), CAST(725000.00 AS Decimal(10, 2)), 10040, CAST(-39000.00 AS Decimal(10, 2)), CAST(N'2024-07-26' AS Date), CAST(14000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'715', CAST(700000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Salidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (18, 5, N'Cliente Prueba', N'Gonzales', N'Cliente11000', N'vmbryan040@gmail.com', N'60609090', N'San jose ', 1, N'Cliente110', N'100010008')
INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (10022, 5, N'BRYAN', N'VINDAS MARIN', NULL, NULL, N'61744942', N'Santa Ana San Jose Costa Rica, de la cruz roja 500m este', 1, NULL, N'118490748')
INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (10023, 3, N'ALEJANDRO', N'QUESADA UGALDE', NULL, N'jose@yahoo.com', N'60609090', N'Sureños', 0, NULL, N'117950848')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[ProductosBajoStock] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[BitacoraProducto]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[BitacoraProducto] CHECK CONSTRAINT [FK_BitacoraProducto_Producto]
GO
ALTER TABLE [dbo].[BitacoraProducto]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraProducto_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[BitacoraProducto] CHECK CONSTRAINT [FK_BitacoraProducto_Usuario]
GO
ALTER TABLE [dbo].[Comisiones]  WITH CHECK ADD  CONSTRAINT [FK_Comisiones_Salidas] FOREIGN KEY([idSalida])
REFERENCES [dbo].[Salidas] ([idSalida])
GO
ALTER TABLE [dbo].[Comisiones] CHECK CONSTRAINT [FK_Comisiones_Salidas]
GO
ALTER TABLE [dbo].[ControlCaja]  WITH CHECK ADD  CONSTRAINT [FK_ControlCaja_Gastos] FOREIGN KEY([idGasto])
REFERENCES [dbo].[Gastos] ([idGasto])
GO
ALTER TABLE [dbo].[ControlCaja] CHECK CONSTRAINT [FK_ControlCaja_Gastos]
GO
ALTER TABLE [dbo].[CuentasPorCobrar]  WITH CHECK ADD  CONSTRAINT [FK_CuentasPorCobrar_Usuario] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[CuentasPorCobrar] CHECK CONSTRAINT [FK_CuentasPorCobrar_Usuario]
GO
ALTER TABLE [dbo].[PagosACuenta]  WITH CHECK ADD  CONSTRAINT [FK_PagosACuenta_CuentasPorCobrar] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[CuentasPorCobrar] ([idCuenta])
GO
ALTER TABLE [dbo].[PagosACuenta] CHECK CONSTRAINT [FK_PagosACuenta_CuentasPorCobrar]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_CategoriaProducto] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CategoriaProducto] ([idCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_CategoriaProducto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
ALTER TABLE [dbo].[ProductoSalida]  WITH CHECK ADD  CONSTRAINT [FK_ProductoSalida_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[ProductoSalida] CHECK CONSTRAINT [FK_ProductoSalida_Producto]
GO
ALTER TABLE [dbo].[ProductoSalida]  WITH CHECK ADD  CONSTRAINT [FK_ProductoSalida_Salidas] FOREIGN KEY([IdSalida])
REFERENCES [dbo].[Salidas] ([idSalida])
GO
ALTER TABLE [dbo].[ProductoSalida] CHECK CONSTRAINT [FK_ProductoSalida_Salidas]
GO
ALTER TABLE [dbo].[ProductosBajoStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductosBajoStock_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[ProductosBajoStock] CHECK CONSTRAINT [FK_ProductosBajoStock_Producto]
GO
ALTER TABLE [dbo].[ProductosBajoStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductosBajoStock_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[ProductosBajoStock] CHECK CONSTRAINT [FK_ProductosBajoStock_Proveedor]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_MetodosPago] FOREIGN KEY([idMetodoPago])
REFERENCES [dbo].[MetodosPago] ([idMetodoPago])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_MetodosPago]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Usuario] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Usuario]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Usuario1] FOREIGN KEY([idVendedor])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Usuario1]
GO
ALTER TABLE [dbo].[StockRecomendado]  WITH CHECK ADD  CONSTRAINT [FK_StockRecomendado_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[StockRecomendado] CHECK CONSTRAINT [FK_StockRecomendado_Producto]
GO
ALTER TABLE [dbo].[StockRecomendado]  WITH CHECK ADD  CONSTRAINT [FK_StockRecomendado_StockBajo] FOREIGN KEY([idStockBajo])
REFERENCES [dbo].[ProductosBajoStock] ([idStockBajo])
GO
ALTER TABLE [dbo].[StockRecomendado] CHECK CONSTRAINT [FK_StockRecomendado_StockBajo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Roles] FOREIGN KEY([idrol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Roles]
GO
/****** Object:  StoredProcedure [dbo].[ActualizaProductosSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizaProductosSalida](
    @idSalida bigint,
    @idProducto bigint,
    @cantidadSalida int
)
AS
BEGIN
    DECLARE @idmetodoPago bigint;
    DECLARE @costo decimal(10,2);
    DECLARE @costoVenta decimal(10,2);
	declare @cantidadSumarProducto int;

    SET @costo = (SELECT costo FROM Producto WHERE idProducto = @idProducto);
	Set @cantidadSumarProducto= (select count(*) from ProductoSalida)
	SET @costoVenta = @costo * @cantidadSalida;


    
	/*delete from ProductoSalida where IdSalida=@idSalida;*//*Borra los registros de esa salida y hace todo el cálculo de nuevo*/

	UPDATE salidas
	SET cantidadProductos = NULL,
		costoVenta = NULL,
		ganancia = NULL,
		comisionvendedor = NULL,
		comisionventa = NULL
	WHERE IdSalida = @idSalida;	
    INSERT INTO ProductoSalida (IdSalida, idProducto, cantidad, costoSalida)
    VALUES (@idSalida, @idProducto, @cantidadSalida, @costo);

    UPDATE s
    SET s.cantidadProductos = (
        SELECT SUM(ps.cantidad)
        FROM ProductoSalida ps
        WHERE ps.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    UPDATE Salidas
    SET costoVenta = ISNULL(costoVenta, 0) + @costoVenta
    WHERE idSalida = @idSalida;


    UPDATE s
    SET comisionVendedor = (
        SELECT s.montoDeVenta * 0.02
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    -- Obtener el método de pago
    SET @idmetodoPago = (SELECT idMetodoPago FROM Salidas WHERE idSalida = @idSalida);


    UPDATE s
    SET comisionVenta = (
        SELECT s.montoDeVenta * (mp.comision / 100)
        FROM MetodosPago mp
        WHERE mp.idMetodoPago = @idmetodoPago
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

  
    UPDATE s
    SET ganancia = (
        SELECT s.montoDeVenta - s.costoVenta - s.comisionVendedor - s.comisionVenta
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

	update Producto
	set cantidadStock= cantidadStock-@cantidadSalida
	where Producto.idProducto=@idProducto
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarInventarioEditarSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ActualizarInventarioEditarSalida](
@idProducto bigint,
@cantidadSalida int
)
as
begin
	update producto
	set cantidadStock = cantidadStock+@cantidadSalida
	where idProducto= @idproducto

end
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProducto]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarProducto]
    @nombre VARCHAR(255),
    @idCategoria BIGINT,
	@idProducto BIGINT,
    @idProveedor BIGINT,
    @cantidadStock INT,
    @costo DECIMAL(18, 2)
AS
BEGIN

    UPDATE [BDCredimuebles].[dbo].[Producto]
    SET nombre = @nombre,
        idCategoria = @idCategoria,
        idProveedor = @idProveedor,
        cantidadStock = @cantidadStock,
        costo = @costo
    WHERE idProducto = @idProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ActualizarSalida](
	@idsalida bigint,
	@cedulaCliente varchar(100),
	@nombreCliente varchar(100),
	@apellidosCliente varchar(100),
	@telefonoCliente varchar(100),
	@direccionCliente varchar(100),
	@numeroFactura varchar(50),
	@idMetodoPago bigint,
	@idVendedor bigint,
	@fecha date,
	@MontoDeVenta decimal(10,2)
	)
	as
	begin
		delete from ProductoSalida where IdSalida=@idSalida;/*Borra los registros de esa salida y hace todo el cálculo de nuevo*/

	update u
	SET u.nombre = @nombreCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;
	update u
	SET u.apellidos = @apellidosCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;
	update u
	SET u.telefono = @telefonoCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;
	update u
	SET u.direccion = @direccionCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;

	update Salidas
	SET numeroFactura= @numeroFactura
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET idMetodoPago= @idMetodoPago
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET idVendedor= @idVendedor
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET fecha= @fecha
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET montoDeVenta = @MontoDeVenta
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET montoPagado = @MontoDeVenta
	WHERE salidas.idSalida = @idSalida;

	end
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuario]
	@idUsuario BIGINT,
	@nombre NVARCHAR(100),
    @apellidos NVARCHAR(100),
 -- Este parámetro estaba faltando
    @correo NVARCHAR(100),
    @telefono NVARCHAR(15),
    @direccion NVARCHAR(200),
    @estado BIT,
    @idRol BIGINT,
    @cedula NVARCHAR(20)
AS
BEGIN
UPDATE Usuario
    SET
        nombre = @nombre,
        apellidos = @apellidos,
        correo = @correo,
        telefono = @telefono,
        direccion = @direccion,
        estado = @estado,
        idRol = @idRol,
        cedula = @cedula
    WHERE
        idUsuario = @idUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[AddProveedor]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProveedor]
    @nombre NVARCHAR(100),
    @telefono NVARCHAR(50),
    @correo NVARCHAR(100),
    @direccion NVARCHAR(200),
	@Estado bit
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM Proveedor WHERE Correo = @correo)
    INSERT INTO Proveedor (nombre, telefono, correo, direccion, Estado)
    VALUES (@nombre, @telefono, @correo, @direccion,@Estado);

    SELECT CAST(SCOPE_IDENTITY() AS int) AS idProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[AgregarAbono]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AgregarAbono](
@idCuenta bigint,
@abono decimal(10,2),
@numeroFactura varchar(50)
)
as
begin
	declare @nuevoMontoPagado decimal(10,2);
	declare @nuevoMontoSaldo decimal(10,2);
	declare @montoDeVenta decimal (10,2);
	declare @seCancela decimal (10,2);

	set @montoDeVenta =(select montoVenta FROM CuentasPorCobrar where idCuenta=@idCuenta);
	set @nuevoMontoPagado=(select montoPagado from CuentasPorCobrar where idCuenta=@idCuenta)+ @abono;
	set @nuevoMontoSaldo= (select saldo from CuentasPorCobrar where idCuenta=@idCuenta)-@abono;
	
	

	insert into PagosACuenta(idCuenta,fechaPago,montoVenta,montoPago,numeroFactura)
	values(@idCuenta,getdate(),@montoDeVenta,@abono,@numeroFactura);

	update c
	set c.montoPagado= @nuevoMontoPagado
	from cuentasporcobrar c
	where c.idCuenta=@idCuenta

	update c
	set c.saldo= @nuevoMontoSaldo
	from cuentasporcobrar c
	where c.idCuenta=@idCuenta

	
	update c
	set c.fechaAbono= getdate()
	from cuentasporcobrar c
	where c.idCuenta=@idCuenta

	
	update c
	set c.proximoPago=  DATEADD(MONTH, 1, GETDATE())
	from cuentasporcobrar c
	where c.idCuenta=@idCuenta


	/*Actualiza la info en salidas para el control de caja*/
	update s
	SET s.montoPagado = (select montoPagado from Salidas where idCuenta=@idCuenta)+@abono
	FROM salidas s
	INNER JOIN CuentasPorCobrar c ON c.idCuenta = s.idCuenta
	WHERE s.idCuenta = @idCuenta;

	if (@montoDeVenta<= @nuevoMontoPagado)
	begin 
		update CuentasPorCobrar
		set CuentaCancelada= 1
		where idCuenta=@idCuenta
	end 
	
end
GO
/****** Object:  StoredProcedure [dbo].[AgregarProducto]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[AgregarProducto]
    @nombre VARCHAR(255),
    @idCategoria BIGINT,
    @idProveedor BIGINT,
    @cantidadStock INT,
    @costo DECIMAL(18, 2)
AS
BEGIN


    INSERT INTO [BDCredimuebles].[dbo].[Producto] (nombre, idCategoria, idProveedor, cantidadStock, costo, estado)
    VALUES (@nombre, @idCategoria, @idProveedor, @cantidadStock, @costo, 1);

END
GO
/****** Object:  StoredProcedure [dbo].[AnularSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AnularSalida](
@idsalida bigint
)
as
begin 
	BEGIN TRY
       
        DELETE FROM productosalida 
        WHERE idSalida = @idsalida;

        -- *Actualizar datos de controlcaja (pendiente)

        -- Eliminar registro de salida
        DELETE FROM salidas 
        WHERE idsalida = @idsalida;


    END TRY
    BEGIN CATCH
  
        RETURN -1;
    END CATCH
end
GO
/****** Object:  StoredProcedure [dbo].[BuscarProducto]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[BuscarProducto]

    @id INT
AS
BEGIN


   select prod.idProducto,prod.nombre, c.descripcion as CategoriaNombre, p.nombre as proveedor_nombre, cantidadStock, costo, prod.estado, prod.idCategoria, prod.idProveedor
   from  [BDCredimuebles].[dbo].[Producto] prod
   inner join [BDCredimuebles].[dbo].CategoriaProducto c
   on prod.idCategoria=c.idCategoria
   inner join Proveedor p
   on prod.idProveedor=p.idProveedor
    where prod.idProducto= @id;

END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoUsuario]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[CambiarEstadoUsuario](
@q bigint
)
as
begin
	Declare @estado bit
	set @estado= (select estado from usuario where idUsuario=@q)

	if @estado=1
	begin
		update usuario
		set estado= 0
		where idUsuario=@q
	end

	if @estado=0
	begin
		update usuario
		set estado= 1
		where idUsuario=@q
	end
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarBajoStock]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ConsultarBajoStock]
AS
BEGIN
	SELECT S.idProducto,S.cantidadStock,S.fechaRegistro,V.nombre as Vendedor,v.telefono, R.cantidadRecomendada, P.nombre    FROM ProductosBajoStock S
	INNER JOIN Producto P
	ON P.idProducto = S.idProducto
	INNER JOIN Proveedor V
	ON V.idProveedor = S.idProveedor
	INNER JOIN StockRecomendado R
	ON R.idStockBajo = S.idStockBajo
end

GO
/****** Object:  StoredProcedure [dbo].[consultarCorreo]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[consultarCorreo]
@correo varchar(150)
as
begin
	select idUsuario, nombre
	from usuario
	where usuario.correo=@correo and usuario.estado=1
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarMetodosPago]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarMetodosPago]
as
begin
	select idMetodoPago 'value', descripcion'text' from MetodosPago where estado=1;
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarPagosACuenta]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarPagosACuenta](
@idCuenta bigint
)
as
begin
  SELECT idLinea, idCuenta,fechaPago,montoVenta,montoPago,numeroFactura
    FROM PagosACuenta where idCuenta=@idCuenta
 

end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarProductosDeSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarProductosDeSalida](
@idsalida bigint)
as
begin

    SELECT p.idProducto,p.nombre, p.costo,ps.cantidad
    FROM ProductoSalida ps, Producto p
	where p.idProducto=ps.idProducto and ps.idsalida=@idsalida
    ORDER BY Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarProductosParaSalidas]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarProductosParaSalidas]
as
begin

    SELECT idProducto, nombre, costo
    FROM Producto where estado=1 and cantidadStock>1
    ORDER BY Nombre
END
select * from Producto
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRecomendacionesStock]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ConsultarRecomendacionesStock]
AS
BEGIN
	SELECT  cantidadRecomendada AS cantidadStock From StockRecomendado
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRoles]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarRoles]
as
begin
SELECT idRol , descripcion from roles
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarSalidas]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarSalidas]
as
begin

	select s.idSalida,s.idCliente,concat(u.nombre,' ',u.apellidos) as nombreCliente,
		   s.costoVenta ,sum(p.cantidad) as cantidad,
		   m.descripcion as metodoPago, s.MontoDeVenta,
		   s.ganancia, concat(v.nombre,' ', v.apellidos)as vendedor,
		   s.comisionVendedor, s.comisionVenta, s.Fecha  

	from salidas s
		INNER JOIN Usuario u     ON s.idCliente    = u.idUsuario
		INNER JOIN MetodosPago m ON s.idMetodoPago = m.idMetodoPago
		INNER JOIN Usuario v     ON s.idVendedor   = v.idUsuario
		INNER JOIN ProductoSalida p ON s.idSalida  = p.IdSalida
	WHERE 
		v.idRol = 3
	GROUP BY
		s.idSalida,
		s.idCliente,
		s.costoVenta,
		CONCAT(u.nombre, ' ', u.apellidos),
		m.descripcion,
		s.MontoDeVenta,
		s.ganancia,
		CONCAT(v.nombre, ' ', v.apellidos),
		s.comisionVendedor,
		s.comisionVenta,
		s.Fecha

		ORDER BY 
    s.Fecha DESC;
	
 
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarSalidasOrdenadas]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarSalidasOrdenadas]
as
begin
select s.idSalida,s.idCliente,concat(u.nombre,' ',u.apellidos) as nombreCliente,
		   s.costoVenta ,sum(p.cantidad) as cantidad,
		   m.descripcion as metodoPago, s.MontoDeVenta,
		   s.ganancia, concat(v.nombre,' ', v.apellidos)as vendedor,
		   s.comisionVendedor, s.comisionVenta, s.Fecha  

	from salidas s
		INNER JOIN Usuario u     ON s.idCliente    = u.idUsuario
		INNER JOIN MetodosPago m ON s.idMetodoPago = m.idMetodoPago
		INNER JOIN Usuario v     ON s.idVendedor   = v.idUsuario
		INNER JOIN ProductoSalida p ON s.idSalida  = p.IdSalida
	WHERE 
		v.idRol = 3
		 AND YEAR(s.Fecha) = YEAR(GETDATE())
          AND MONTH(s.Fecha) = MONTH(GETDATE())
	GROUP BY
		s.idSalida,
		s.idCliente,
		s.costoVenta,
		CONCAT(u.nombre, ' ', u.apellidos),
		m.descripcion,
		s.MontoDeVenta,
		s.ganancia,
		CONCAT(v.nombre, ' ', v.apellidos),
		s.comisionVendedor,
		s.comisionVenta,
		s.Fecha;

end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuario]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ConsultarUsuario](
@q bigint)
as
begin
	select 
		u.nombre,u.idrol,u.apellidos,u.cedula,u.correo,u.telefono,u.direccion,u.estado
	from usuario u, roles r
	where u.idrol=r.IdRol and @q= u.idUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuarioByCorreo]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarUsuarioByCorreo]
    @Correo NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT *
    FROM Usuario
    WHERE Correo = @Correo;
END;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuarioById]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarUsuarioById]
    @idUsuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.idUsuario,
        u.nombre,
        u.apellidos,
        u.correo,
        u.telefono,
        u.direccion,
        u.estado,
        u.idRol,
        u.cedula,
        r.Descripcion AS descripcionRol -- Suponiendo que la tabla de roles tiene un campo llamado nombreRol
    FROM 
        Usuario u
    LEFT JOIN 
        Roles r ON u.idRol = r.IdRol
    WHERE 
        u.idUsuario = @idUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarVendedores]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarVendedores]
as
begin
	select idUsuario 'value', concat(nombre,' ', apellidos)'text' from Usuario where idRol=3;
end
GO
/****** Object:  StoredProcedure [dbo].[CreatePasswordResetToken]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreatePasswordResetToken]
    @Email NVARCHAR(256),
    @Token NVARCHAR(256),
    @Expiration DATETIME
AS
BEGIN
    -- Eliminar tokens anteriores si existen
    DELETE FROM PasswordResetTokens
    WHERE Email = @Email

    -- Insertar el nuevo token
    INSERT INTO PasswordResetTokens (Email, Token, Expiration)
    VALUES (@Email, @Token, @Expiration)
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePasswordResetToken]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePasswordResetToken]
    @Email NVARCHAR(256),
    @Token NVARCHAR(256)
AS
BEGIN
    -- Código para eliminar el token
    DELETE FROM PasswordResetTokens
    WHERE Email = @Email AND Token = @Token
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivarActivarProducto]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarActivarProducto]  
   ( @idProducto BIGINT  )
AS  
BEGIN  
    DECLARE @EstadoActual BIT;  
  
    -- Obtener el estado actual del producto  
    SELECT @EstadoActual = Estado  
    FROM Producto  
    WHERE idProducto = @idProducto;  
  
    -- Si el producto está activo, desactivarlo; si está inactivo, activarlo  
    IF @EstadoActual = 1  
    BEGIN  
        UPDATE Producto  
        SET Estado = 0  
        WHERE idProducto = @idProducto;  
        SELECT 'Producto desactivado exitosamente' AS Mensaje;  
    END  
    ELSE  
    BEGIN  
        UPDATE Producto  
        SET Estado = 1  
        WHERE idProducto = @idProducto;  
        SELECT 'Producto activado exitosamente' AS Mensaje;  
    END  
END 
GO
/****** Object:  StoredProcedure [dbo].[DesactivarActivarProveedorBD]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarActivarProveedorBD]
    @idProveedor INT
AS
BEGIN
    DECLARE @EstadoActual BIT;

    -- Obtener el estado actual del proveedor
    SELECT @EstadoActual = Estado
    FROM Proveedor
    WHERE idProveedor = @idProveedor;

    -- Si el proveedor está activo, desactivarlo; si está inactivo, activarlo
    IF @EstadoActual = 1
    BEGIN
        UPDATE Proveedor
        SET Estado = 0
        WHERE idProveedor = @idProveedor;
    END
    ELSE
    BEGIN
        UPDATE Proveedor
        SET Estado = 1
        WHERE idProveedor = @idProveedor;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[DesactivarActivarUsuario]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarActivarUsuario]
    @idUsuario BIGINT
AS
BEGIN
    DECLARE @EstadoActual BIT;

    -- Obtener el estado actual del usuario
    SELECT @EstadoActual = estado
    FROM Usuario
    WHERE idUsuario = @idUsuario;

    -- Si el usuario está activo, desactivarlo; si está inactivo, activarlo
    IF @EstadoActual = 1
    BEGIN
        UPDATE Usuario
        SET estado = 0
        WHERE idUsuario = @idUsuario;
        SELECT 'Usuario desactivado exitosamente' AS Mensaje;
    END
    ELSE
    BEGIN
        UPDATE Usuario
        SET estado = 1
        WHERE idUsuario = @idUsuario;
        SELECT 'Usuario activado exitosamente' AS Mensaje;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GETALLCATEGORIAS]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETALLCATEGORIAS]  
AS  
BEGIN  
 SELECT idCategoria,descripcion  
 from CategoriaProducto  
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductos]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProductos]  
AS  
BEGIN  
    SELECT   
        p.idProducto,  
        p.nombre,  
        p.idCategoria,  
        p.cantidadStock,  
        p.costo,  
        p.estado,  
   
        c.descripcion AS categoriaNombre  
    FROM   
        Producto p  
    INNER JOIN   
        CategoriaProducto c ON p.idCategoria = c.idCategoria;  
END
GO
/****** Object:  StoredProcedure [dbo].[GetCantidadArticulo]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCantidadArticulo]
AS
BEGIN
	SELECT  COUNT(*) from Producto
END
GO
/****** Object:  StoredProcedure [dbo].[GetCantidadProveedor]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetCantidadProveedor]
AS
BEGIN
	SELECT  COUNT(*) from Proveedor
END
GO
/****** Object:  StoredProcedure [dbo].[GetProveedorByID]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProveedorByID]
    @idProveedor INT
AS
BEGIN
    SELECT * FROM Proveedor WHERE idProveedor = @idProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[GetProveedores]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetProveedores]
as
begin
	select idProveedor,nombre,telefono,correo,direccion,estado
	from proveedor
	where estado=1

end
GO
/****** Object:  StoredProcedure [dbo].[GetProveedoresByName]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para obtener proveedores por nombre
CREATE PROCEDURE [dbo].[GetProveedoresByName]
    @nombre NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Proveedor WHERE nombre LIKE @nombre + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[getUserbyEmail]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getUserbyEmail]  
    @correo NVARCHAR(100)  
AS  
BEGIN  
    SELECT u.idUsuario, u.nombre, u.Usuario, u.apellidos, u.contrasenna, u.correo, u.telefono, u.direccion, u.estado, u.idRol, u.cedula, r.Descripcion AS descripcionRol
    FROM Usuario u
    JOIN Roles r ON u.idRol = r.idRol
    WHERE u.correo = @correo;
END
GO
/****** Object:  StoredProcedure [dbo].[IniciarSesion]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[IniciarSesion]
@correo varchar(150),
@contrasenna varchar(150)
as
begin

	select U.idUsuario, u.usuario ,
	r.Descripcion as descripcionRol
	from Usuario U, Roles R
	where U.contrasenna = @contrasenna and (U.usuario=@correo or U.correo=@correo) and U.estado=1 and r.IdRol=U.idrol

end
GO
/****** Object:  StoredProcedure [dbo].[ListarClientes]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarClientes]
as
begin
	select u.idusuario, concat(u.nombre,' ',u.apellidos) as nombreCompleto,u.correo,u.telefono,u.cedula,r.idRol,r.Descripcion as descripcionRol
	from usuario u, Roles r
	where r.IdRol=u.idrol and u.idRol=5
end
GO
/****** Object:  StoredProcedure [dbo].[ListarControlCaja]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarControlCaja]
AS
BEGIN
    SELECT 
        c.fechaID,  
        c.totalVentas,  
        c.montoVentas, 
        c.ganancia, 
        c.comisiones,  
        c.idGasto,  
        c.dineroDeVentas,  
        SUM(g.monto) AS montoGastos
    FROM 
        ControlCaja c
    LEFT JOIN 
        Gastos g ON c.fechaID = g.fecha -- Asegúrate de que esta condición sea correcta.
    GROUP BY 
        c.fechaID, 
        c.totalVentas, 
        c.montoVentas, 
        c.ganancia, 
        c.comisiones, 
        c.idGasto, 
        c.dineroDeVentas;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarCuentasPorCobrar]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarCuentasPorCobrar]
as
begin
	SELECT 
    c.idCuenta, 
    CONCAT(u.nombre, ' ', u.apellidos) AS nombreCliente, 
    u.telefono AS telefonoCliente, 
    c.montoVenta AS montoDeVenta, 
	u.correo as correoCliente,
    c.saldo, 
    c.cuentaCancelada
FROM 
    Usuario u
JOIN 
    cuentasporcobrar c ON c.idCliente = u.idUsuario
ORDER BY 
    c.cuentaCancelada ASC, 
    c.idCuenta;            

end
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarUsuarios]
as
begin
	select u.idusuario, concat(u.nombre,' ',u.apellidos) as nombreCompleto,u.correo,u.telefono,r.Descripcion as descripcionRol
	from usuario u, Roles r
	where r.IdRol=u.idrol and u.idrol!=5
end
GO
/****** Object:  StoredProcedure [dbo].[RecomendarCantidad]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[RecomendarCantidad]
AS
BEGIN
    -- Eliminar recomendaciones antiguas en la tabla StockRecomendado
    DELETE FROM StockRecomendado;

    -- Insertar recomendaciones basadas en las ventas totales
    INSERT INTO StockRecomendado (idStockBajo, idProducto, cantidadRecomendada)
    SELECT 
        pbs.idStockBajo,
        pbs.idProducto,
        SUM(ps.cantidad) / COUNT(DISTINCT ps.idSalida) AS cantidadRecomendada
    FROM ProductosBajoStock pbs
    LEFT JOIN ProductoSalida ps ON pbs.idProducto = ps.idProducto
    GROUP BY pbs.idStockBajo, pbs.idProducto, pbs.NombreProducto
    HAVING SUM(ps.cantidad) > 0; -- Verificar que haya al menos una venta

    -- Verificar si hay recomendaciones
    IF EXISTS (SELECT 1 FROM StockRecomendado)
    BEGIN
        SELECT * FROM StockRecomendado;
    END
    ELSE
    BEGIN
        SELECT 'No hay suficientes ventas para recomendar cantidades';
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[registrarCliente]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrarCliente]
    @nombre NVARCHAR(100),
    @apellidos NVARCHAR(100),
    @contrasenna NVARCHAR(255), -- Este parámetro estaba faltando
    @correo NVARCHAR(100),
    @telefono NVARCHAR(15),
    @direccion NVARCHAR(200),
    @estado BIT,
    @idRol BIGINT,
    @cedula NVARCHAR(20)
AS
BEGIN
    BEGIN TRY
        -- Verificar si ya existe un usuario con el mismo correo
        IF EXISTS (SELECT 1 FROM Usuario WHERE correo = @correo)
        BEGIN
            -- Devolver un código de error o mensaje indicando que el correo ya está registrado
            RAISERROR('El correo ya está registrado.', 16, 1);
            RETURN;
        END

        -- Insertar el nuevo usuario
        INSERT INTO Usuario (nombre, apellidos,  contrasenna, correo, telefono, direccion, estado, idRol, cedula)
        VALUES (@nombre, @apellidos, @contrasenna, @correo, @telefono, @direccion, @estado, @idRol, @cedula);
    END TRY
    BEGIN CATCH
        -- Capturar errores y devolver información detallada
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarCuentaCredito]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[RegistrarCuentaCredito](
@idMetodoPago bigint,
@MontoVenta decimal(10,2),
@idVendedor bigint,
@fechaCompra date,
@cedulaCliente varchar(15),
@nombreCliente varchar(20),
@apellidosCliente varchar(40),
@direccionCliente varchar(300),
@telefonoCliente varchar(12),
@numeroFactura varchar(50),
@prima decimal(10,2),
@plazo int,
@SalidaID bigint OUTPUT)
as
begin
	

	 Declare @FechaPagoSiguiente date
	 Declare @idCliente bigint;
	 declare @montoPagado decimal(10,2);
	 declare @idCuenta bigint;

	  SET @FechaPagoSiguiente = DATEADD(MONTH, 1, @fechaCompra);
	  set @montoPagado=@MontoVenta-@prima;
 

	 if EXISTS(select 1 from Usuario where cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente)
		begin
			select @idCliente=idUsuario
			from usuario 
			where  cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente
	end
	else
		begin
			insert into usuario(idrol,nombre,apellidos, telefono,direccion,estado,cedula)
			values(5,@nombreCliente,@apellidosCliente,@telefonoCliente,@direccionCliente,1,@cedulaCliente)
			set  @idCliente= SCOPE_IDENTITY();
		end

		/*INserta la cuenta*/
		insert into CuentasPorCobrar(idCliente,fechaCompra,plazo,montoPagado,MontoVenta,saldo,proximoPago,CuentaCancelada)
		values(@idCliente,@fechaCompra,@plazo,@prima,@MontoVenta,@montoPagado,@FechaPagoSiguiente,0)
		set @idCuenta=SCOPE_IDENTITY();

		/*Inserta datos en la salida*/
		insert into Salidas(idCliente,idMetodoPago,montoDeVenta,idVendedor,numeroFactura,fecha,costoVenta,montoPagado,idCuenta)
		values(@idCliente,@idMetodoPago,@MontoVenta,@idVendedor,@numeroFactura,@fechaCompra,0,@prima,@idCuenta)
		SET @SalidaID = SCOPE_IDENTITY();

end
GO
/****** Object:  StoredProcedure [dbo].[RegistrarDatosCaja]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RegistrarDatosCaja] (
@fechaCompra date
)
as
begin

Declare @numeroVentas int;
declare @montoDeVentas decimal(10,2);
declare @ganancia decimal(10,2);
declare @comisiones decimal(10,2);
declare @dineroVentas decimal(10,2);

	SET @numeroVentas = (SELECT COUNT(*) FROM Salidas WHERE fecha = @fechaCompra) ;
	Set @montoDeVentas = (Select Sum(MontoDeVenta) from salidas where fecha=@fechaCompra);
	set @ganancia= (Select sum(ganancia) from salidas where fecha=@fechaCompra);
	set @comisiones = (Select sum(comisionVendedor + comisionVenta) from salidas where fecha=@fechaCompra);
	set @dineroVentas = (Select sum(montoPagado) from salidas where fecha=@fechaCompra);

if Exists(SELECT 1 FROM ControlCaja WHERE fechaID = @fechaCompra)
begin
	UPDATE ControlCaja
SET 
    totalventas = @numeroVentas,
    montoVentas = @montoDeVentas,
    ganancia = @ganancia,
    comisiones = @comisiones,
    dineroDeVentas = @dineroVentas
WHERE 
    fechaID = @fechaCompra;

end
else
begin
	
	insert into ControlCaja(fechaID,totalventas,montoVentas,ganancia,comisiones,dineroDeVentas,idGasto)
	values(@fechaCompra,@numeroVentas,@montoDeVentas,@ganancia,@comisiones,@dineroVentas,10002);

end
end
GO
/****** Object:  StoredProcedure [dbo].[RegistrarGasto]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RegistrarGasto](
@fecha date,
@monto decimal(10,2),
@descripcion varchar(350),
@idGasto  bigint output
)
as
begin 
	insert into Gastos (fecha,monto,descripcion)
	values(@fecha,@monto,@descripcion)

	 set @idGasto=  SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[RegistrarProductosSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarProductosSalida](
    @idSalida bigint,
    @idProducto bigint,
    @cantidadSalida int
)
AS
BEGIN
    DECLARE @idmetodoPago bigint;
    DECLARE @costo decimal(10,2);
    DECLARE @costoVenta decimal(10,2);
	Declare @fechaCompra date;

	Set @fechaCompra= (select fecha from Salidas where idSalida=@idSalida);
    SET @costo = (SELECT costo FROM Producto WHERE idProducto = @idProducto);

    SET @costoVenta = @costo * @cantidadSalida;

    INSERT INTO ProductoSalida (IdSalida, idProducto, cantidad, costoSalida)
    VALUES (@idSalida, @idProducto, @cantidadSalida, @costo);

	update Producto
	set cantidadStock= cantidadStock-@cantidadSalida
	where Producto.idProducto=@idProducto
    UPDATE s
    SET s.cantidadProductos = (
        SELECT SUM(ps.cantidad)
        FROM ProductoSalida ps
        WHERE ps.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    UPDATE Salidas
    SET costoVenta = ISNULL(costoVenta, 0) + @costoVenta
    WHERE idSalida = @idSalida;


    UPDATE s
    SET comisionVendedor = (
        SELECT s.montoDeVenta * 0.02
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    -- Obtener el método de pago
    SET @idmetodoPago = (SELECT idMetodoPago FROM Salidas WHERE idSalida = @idSalida);


    UPDATE s
    SET comisionVenta = (
        SELECT s.montoDeVenta * (mp.comision / 100)
        FROM MetodosPago mp
        WHERE mp.idMetodoPago = @idmetodoPago
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

  
    UPDATE s
    SET ganancia = (
        SELECT s.montoDeVenta - s.costoVenta - s.comisionVendedor - s.comisionVenta
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;


Exec RegistrarDatosCaja @fechaCompra;

END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RegistrarSalida](
/*@idCliente bigint,*/
@idMetodoPago bigint,
@MontoDeVenta decimal(10,2),
@idVendedor bigint,
@fecha date,
@cedulaCliente varchar(15),
@nombreCliente varchar(20),
@apellidosCliente varchar(40),
@direccionCliente varchar(300),
@telefonoCliente varchar(12),
@numeroFactura varchar(50),
@SalidaID bigint OUTPUT)
as
begin

 Declare @ExisteCliente int;
 Declare @idsalida bigint;
 Declare @idCliente bigint;
 
 set @ExisteCliente= (select count(*) from Usuario where cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente);

 if EXISTS(select 1 from Usuario where cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente)
    begin
		select @idCliente=idUsuario
		from usuario 
		where  cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente
end
else
	begin
		insert into usuario(idrol,nombre,apellidos, telefono,direccion,estado,cedula)
		values(5,@nombreCliente,@apellidosCliente,@telefonoCliente,@direccionCliente,1,@cedulaCliente)
		set  @idCliente= SCOPE_IDENTITY();
	end


	insert into Salidas(idCliente,idMetodoPago,montoDeVenta,idVendedor,numeroFactura,fecha,costoVenta,montoPagado)
	values(@idCliente,@idMetodoPago,@MontoDeVenta,@idVendedor,@numeroFactura,@fecha,0,@MontoDeVenta)
	
SET @SalidaID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[registrarUsuario]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrarUsuario]
    @nombre NVARCHAR(100),
    @Usuario NVARCHAR(100),
    @apellidos NVARCHAR(100),
    @nombreCompleto NVARCHAR(200),
    @contrasenna NVARCHAR(255),
    @correo NVARCHAR(100),
    @telefono NVARCHAR(15),
    @direccion NVARCHAR(200),
    @estado BIT,
    @idRol BIGINT,
    @cedula NVARCHAR(20)
AS
BEGIN
    -- Verificar si ya existe un usuario con el mismo correo
    IF EXISTS (SELECT 1 FROM Usuarios WHERE correo = @correo)
    BEGIN
        -- Devolver un código de error o mensaje indicando que el correo ya está registrado
        RAISERROR('El correo ya está registrado.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo usuario
    INSERT INTO Usuarios (nombre, Usuario, apellidos, nombreCompleto, contrasenna, correo, telefono, direccion, estado, idRol, cedula)
    VALUES (@nombre, @Usuario, @apellidos, @nombreCompleto, @contrasenna, @correo, @telefono, @direccion, @estado, @idRol, @cedula);
END
GO
/****** Object:  StoredProcedure [dbo].[ResetPassword]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetPassword]
    @Email NVARCHAR(256),
    @NewPassword NVARCHAR(256)
AS
BEGIN
    -- Código para actualizar la contraseña del usuario
    UPDATE Usuario
    SET contrasenna = @NewPassword
    WHERE correo = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProveedorBD]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProveedorBD]
    @idProveedor INT,
    @nombre NVARCHAR(100),
    @telefono NVARCHAR(50),
    @correo NVARCHAR(100),
    @direccion NVARCHAR(200),
	@Estado bit
AS
BEGIN
    UPDATE Proveedor
    SET nombre = @nombre, telefono = @telefono, correo = @correo, direccion = @direccion, Estado = @Estado
    WHERE idProveedor = @idProveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[validarCambioContrasenna]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[validarCambioContrasenna]
@correo varchar(100),
@contrasenna varchar(150),
@usuario varchar(100),
@idUsuario bigint
as
begin
	update usuario
	set contrasenna= @contrasenna
	where idUsuario = @idUsuario and correo= @correo and Usuario=@usuario

end
GO
/****** Object:  StoredProcedure [dbo].[VerCuentaPorCobrar]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[VerCuentaPorCobrar](
@idCuenta bigint
)
as
begin
	
select s.idCuenta, s.idsalida ,u.cedula as cedulaCliente, u.nombre  as nombreCliente,u.apellidos as apellidosCliente, s.cantidadProductos as cantidad, s.idMetodoPago,s.montodeventa as MontoDeVenta,
s.idVendedor,Cast(s.fecha as date) as fecha,u.telefono as telefonoCliente, u.direccion as direccionCliente,
c.montoPagado,c.saldo, c.proximoPago
from salidas s, Usuario u, CuentasPorCobrar c
where s.idCuenta=@idCuenta  and s.idCliente= u.idUsuario and c.idCuenta=s.idCuenta 


end
GO
/****** Object:  StoredProcedure [dbo].[VerGastos]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[VerGastos](
@fecha date
)
as
begin
Select idGasto, descripcion, monto as montoGastos,fecha as fechaGasto from gastos where fecha= @fecha 

end
GO

/****** Object:  StoredProcedure [dbo].[ConsultarProductos]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[ConsultarProductos]
AS
BEGIN
	SELECT Producto.* ,
	Proveedor.nombre as nombreProveedor, Proveedor.telefono as telefonoProveedor,Proveedor.correo as correoProveedor, Proveedor.direccion as direcionProveedor , Proveedor.estado as estadoProveedor
	from Producto
	inner join Proveedor on  Producto.idProveedor= Proveedor.idProveedor
END
GO



/****** Object:  StoredProcedure [dbo].[VerificarStockBajo]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[VerificarStockBajo]
AS
BEGIN
    DECLARE @umbral INT = 3;

    -- Usar una transacción para asegurar la integridad de los datos
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Eliminar productos de las tablas temporales
		DELETE FROM StockRecomendado;
        DELETE FROM ProductosBajoStock;
        

        -- Insertar productos en ProductosBajoStock si no existen
        INSERT INTO ProductosBajoStock (idProducto, NombreProducto, cantidadStock, idProveedor)
        SELECT 
            p.idProducto, 
            p.nombre, 
            p.cantidadStock,
            p.idProveedor
        FROM Producto p
        WHERE p.cantidadStock <= @umbral
        AND NOT EXISTS (
            SELECT 1 
            FROM ProductosBajoStock pb 
            WHERE pb.idProducto = p.idProducto
        );

		EXEC RecomendarCantidad

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Revertir la transacción en caso de error
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;



GO
/****** Object:  StoredProcedure [dbo].[VerifyPasswordResetToken]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[VerifyPasswordResetToken]
    @Email NVARCHAR(256),
    @Token NVARCHAR(256)
AS
BEGIN
    -- Verificar el token
    SELECT * FROM PasswordResetTokens
    WHERE Email = @Email AND Token = @Token AND Expiration > GETUTCDATE()

    -- Eliminar el token después de verificarlo
    DELETE FROM PasswordResetTokens
    WHERE Email = @Email AND Token = @Token
END
GO
/****** Object:  StoredProcedure [dbo].[VerSalida]    Script Date: 19/8/2024 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[VerSalida](
@idsalida bigint
)
as
begin

select s.idsalida ,u.cedula as cedulaCliente, u.nombre  as nombreCliente,u.apellidos as apellidosCliente, s.cantidadProductos as cantidad, s.idMetodoPago,s.montodeventa,
s.idVendedor,s.comisionVenta,s.numeroFactura,s.costoVenta,s.fecha,u.telefono as telefonoCliente, u.direccion as direccionCliente
from salidas s, Usuario u
where s.idsalida= @idsalida and s.idCliente= u.idUsuario 
end
GO
USE [master]
GO
