USE [master]
GO
/****** Object:  Database [BDCredimuebles]    Script Date: 13/6/2024 15:52:27 ******/
CREATE DATABASE [BDCredimuebles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDCredimuebles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCredimuebles.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDCredimuebles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCredimuebles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDCredimuebles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDCredimuebles]
GO
/****** Object:  Table [dbo].[BitacoraProducto]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraProducto](
	[idBProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[IdProducto] [bigint] NULL,
	[idUsuario] [bigint] NULL,
	[accion] [varchar](100) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK__Bitacora__670B5F3242441178] PRIMARY KEY CLUSTERED 
(
	[idBProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraProveedores]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraProveedores](
	[idBProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[accion] [varchar](50) NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK__Bitacora__2075B6F89E93020D] PRIMARY KEY CLUSTERED 
(
	[idBProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[idCategoria] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK__Categori__8A3D240CF24AA476] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comisiones]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comisiones](
	[idComision] [bigint] IDENTITY(1,1) NOT NULL,
	[idSalida] [bigint] NULL,
	[fecha] [date] NULL,
	[descripcion] [varchar](255) NULL,
	[monto] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Comision__12A3EDC23A16B5BE] PRIMARY KEY CLUSTERED 
(
	[idComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlCaja]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlCaja](
	[fechaID] [date] NOT NULL,
	[totalventas] [int] NULL,
	[montoVentas] [decimal](10, 2) NULL,
	[ganancia] [decimal](10, 2) NULL,
	[comisiones] [decimal](10, 2) NULL,
	[idGasto] [bigint] NULL,
	[totalCaja] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fechaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorCobrar]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorCobrar](
	[idCuenta] [bigint] IDENTITY(1,1) NOT NULL,
	[idCliente] [bigint] NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[plazo] [int] NOT NULL,
	[montoPagado] [decimal](10, 2) NOT NULL,
	[fechaAbono] [date] NULL,
	[saldo] [decimal](10, 2) NOT NULL,
	[proximoPago] [date] NULL,
 CONSTRAINT [PK__CuentasP__BBC6DF3293B72670] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[idGasto] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[monto] [decimal](10, 2) NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK__Gastos__F25CC32111B36A4A] PRIMARY KEY CLUSTERED 
(
	[idGasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[idMetodoPago] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[comision] [decimal](10, 2) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__MetodosP__817BFC32101CBA8F] PRIMARY KEY CLUSTERED 
(
	[idMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[idCategoria] [bigint] NULL,
	[idProveedor] [bigint] NULL,
	[cantidadStock] [int] NULL,
	[costo] [decimal](10, 2) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__Producto__07F4A1321BC6B0C7] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoSalida]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoSalida](
	[idLinea] [bigint] IDENTITY(1,1) NOT NULL,
	[IdSalida] [bigint] NULL,
	[idProducto] [bigint] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK__Producto__4F210ABFB723F06E] PRIMARY KEY CLUSTERED 
(
	[idLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__Proveedo__A3FA8E6BC248ADFA] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salidas]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salidas](
	[idSalida] [bigint] IDENTITY(1,1) NOT NULL,
	[idCliente] [bigint] NULL,
	[IdProductoSalida] [bigint] NULL,
	[CantidadProductos] [int] NULL,
	[idMetodoPago] [bigint] NULL,
	[MontoDeVenta] [decimal](10, 2) NULL,
	[costoVenta] [decimal](10, 2) NULL,
	[IdVendedor] [bigint] NULL,
	[ganancia] [decimal](10, 2) NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK__Salidas__25AFC22A47FAD7CD] PRIMARY KEY CLUSTERED 
(
	[idSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[idrol] [bigint] NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](100) NULL,
	[contrasenna] [varchar](50) NULL,
	[correo] [varchar](100) NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [varchar](255) NULL,
	[estado] [bit] NULL,
	[usuario] [varchar](50) NULL,
	[cedula] [varchar](50) NULL,
 CONSTRAINT [PK__Usuario__080A974337FC8558] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (1, N'Daniel Quiros', N'22580455', N'quiros@gmail.com', N'Sarchí', 1)
INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (2, N'Bismar', N'60609090', N'bismarkperosnal@gmail.com', N'Palmares', 1)
INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (8, N'Alfonso', N'61744942', N'josefino@yahoo.es', N'san carlos', 1)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (2, N'Gerente')
INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (3, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (1, 2, N'Bryan', N'Vindas Marin', N'123456', N'vindasbry@gmail.com', N'60608080', N'Santa Ana', 1, N'Bryan24', N'119950917')
INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (18, 5, N'Cliente Prueba', N'Gonzales', N'Cliente11000', N'vmbryan040@gmail.com', N'60609090', N'San jose ', 1, N'Cliente110', N'100010008')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[BitacoraProducto]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[BitacoraProducto] CHECK CONSTRAINT [FK_BitacoraProducto_Producto]
GO
ALTER TABLE [dbo].[BitacoraProducto]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraProducto_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[BitacoraProducto] CHECK CONSTRAINT [FK_BitacoraProducto_Usuario]
GO
ALTER TABLE [dbo].[Comisiones]  WITH CHECK ADD  CONSTRAINT [FK_Comisiones_Salidas] FOREIGN KEY([idSalida])
REFERENCES [dbo].[Salidas] ([idSalida])
GO
ALTER TABLE [dbo].[Comisiones] CHECK CONSTRAINT [FK_Comisiones_Salidas]
GO
ALTER TABLE [dbo].[ControlCaja]  WITH CHECK ADD  CONSTRAINT [FK_ControlCaja_Gastos] FOREIGN KEY([idGasto])
REFERENCES [dbo].[Gastos] ([idGasto])
GO
ALTER TABLE [dbo].[ControlCaja] CHECK CONSTRAINT [FK_ControlCaja_Gastos]
GO
ALTER TABLE [dbo].[CuentasPorCobrar]  WITH CHECK ADD  CONSTRAINT [FK_CuentasPorCobrar_Usuario] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[CuentasPorCobrar] CHECK CONSTRAINT [FK_CuentasPorCobrar_Usuario]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_CategoriaProducto] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CategoriaProducto] ([idCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_CategoriaProducto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
ALTER TABLE [dbo].[ProductoSalida]  WITH CHECK ADD  CONSTRAINT [FK_ProductoSalida_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[ProductoSalida] CHECK CONSTRAINT [FK_ProductoSalida_Producto]
GO
ALTER TABLE [dbo].[ProductoSalida]  WITH CHECK ADD  CONSTRAINT [FK_ProductoSalida_Salidas] FOREIGN KEY([IdSalida])
REFERENCES [dbo].[Salidas] ([idSalida])
GO
ALTER TABLE [dbo].[ProductoSalida] CHECK CONSTRAINT [FK_ProductoSalida_Salidas]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_MetodosPago] FOREIGN KEY([idMetodoPago])
REFERENCES [dbo].[MetodosPago] ([idMetodoPago])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_MetodosPago]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Usuario] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Usuario]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Usuario1] FOREIGN KEY([IdVendedor])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Usuario1]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Roles] FOREIGN KEY([idrol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Roles]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ActualizarUsuario](
@idrol bigint,
@idusuario bigint,
@nombre varchar(100),
@apellidos varchar(100),
@correo varchar(100),
@telefono varchar(50),
@direccion varchar(350),
@cedula varchar(150))
as
begin
	update usuario
	set nombre= @nombre,apellidos=@apellidos,correo=@correo, idRol=@idrol,telefono=@telefono,direccion=@direccion, cedula=@cedula
	where @idusuario= idusuario
end
GO
/****** Object:  StoredProcedure [dbo].[AddProveedor]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProveedor]
    @nombre NVARCHAR(100),
    @telefono NVARCHAR(50),
    @correo NVARCHAR(100),
    @direccion NVARCHAR(200),
	@Estado bit
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM Proveedor WHERE Correo = @correo)
    INSERT INTO Proveedor (nombre, telefono, correo, direccion, Estado)
    VALUES (@nombre, @telefono, @correo, @direccion,@Estado);

    SELECT CAST(SCOPE_IDENTITY() AS int) AS idProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoUsuario]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[CambiarEstadoUsuario](
@q bigint
)
as
begin
	Declare @estado bit
	set @estado= (select estado from usuario where idUsuario=@q)

	if @estado=1
	begin
		update usuario
		set estado= 0
		where idUsuario=@q
	end

	if @estado=0
	begin
		update usuario
		set estado= 1
		where idUsuario=@q
	end
end
GO
/****** Object:  StoredProcedure [dbo].[consultarCorreo]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[consultarCorreo]
@correo varchar(150)
as
begin
	select idUsuario, nombre
	from usuario
	where usuario.correo=@correo and usuario.estado=1
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRoles]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarRoles]
as
begin
SELECT idRol 'Value', descripcion 'Text'from roles
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuario]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ConsultarUsuario](
@q bigint)
as
begin
	select 
		u.nombre,u.idrol,u.apellidos,u.cedula,u.correo,u.telefono,u.direccion,u.estado
	from usuario u, roles r
	where u.idrol=r.IdRol and @q= u.idUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[DesactivarActivarProveedorBD]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarActivarProveedorBD]
    @idProveedor INT
AS
BEGIN
    DECLARE @EstadoActual BIT;

    -- Obtener el estado actual del proveedor
    SELECT @EstadoActual = Estado
    FROM Proveedor
    WHERE idProveedor = @idProveedor;

    -- Si el proveedor está activo, desactivarlo; si está inactivo, activarlo
    IF @EstadoActual = 1
    BEGIN
        UPDATE Proveedor
        SET Estado = 0
        WHERE idProveedor = @idProveedor;
    END
    ELSE
    BEGIN
        UPDATE Proveedor
        SET Estado = 1
        WHERE idProveedor = @idProveedor;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[GetProveedorByID]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProveedorByID]
    @idProveedor INT
AS
BEGIN
    SELECT * FROM Proveedor WHERE idProveedor = @idProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[GetProveedores]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetProveedores]
as
begin
	select idProveedor,nombre,telefono,correo,direccion,estado
	from proveedor
	where estado=1

end
GO
/****** Object:  StoredProcedure [dbo].[GetProveedoresByName]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para obtener proveedores por nombre
CREATE PROCEDURE [dbo].[GetProveedoresByName]
    @nombre NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Proveedor WHERE nombre LIKE @nombre + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[IniciarSesion]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[IniciarSesion]
@correo varchar(150),
@contrasenna varchar(150)
as
begin

	select U.idUsuario, u.usuario ,
	r.Descripcion as descripcionRol
	from Usuario U, Roles R
	where U.contrasenna = @contrasenna and (U.usuario=@correo or U.correo=@correo) and U.estado=1 and r.IdRol=U.idrol

end
GO
/****** Object:  StoredProcedure [dbo].[ListarClientes]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarClientes]
as
begin
	select u.idusuario, concat(u.nombre,' ',u.apellidos) as nombreCompleto,u.correo,u.telefono,u.cedula,r.idRol,r.Descripcion as descripcionRol
	from usuario u, Roles r
	where r.IdRol=u.idrol and u.idRol=5
end
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarUsuarios]
as
begin
	select u.idusuario, concat(u.nombre,' ',u.apellidos) as nombreCompleto,u.correo,u.telefono,r.Descripcion as descripcionRol
	from usuario u, Roles r
	where r.IdRol=u.idrol 
end
GO
/****** Object:  StoredProcedure [dbo].[registrarUsuario]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[registrarUsuario](
@nombre varchar(100),
@apellidos varchar(100),
@correo varchar(80),
@telefono varchar(50),
@direccion varchar(250),
@idrol bigint,
@cedula varchar(50))
as
begin
DECLARE @existe INT =0
  SET @existe = (SELECT count(*) FROM usuario WHERE @correo= Correo)

  IF @existe>0
	 begin
		 return;
	 end

	declare @contrasenna varchar(100)
	declare @usuario varchar(100)
	set @contrasenna= @nombre+LEFT(@cedula,4);

	set @usuario= @nombre+LEFT(@cedula,2);

	insert into Usuario (nombre,apellidos,contrasenna,correo,telefono,idrol,direccion,estado,usuario,cedula)
	values(@nombre,@apellidos,@contrasenna,@correo,@telefono,@idrol,@direccion,1,@usuario,@cedula)

	select idusuario,contrasenna,correo
	from usuario
	where idusuario=SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateProveedorBD]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProveedorBD]
    @idProveedor INT,
    @nombre NVARCHAR(100),
    @telefono NVARCHAR(50),
    @correo NVARCHAR(100),
    @direccion NVARCHAR(200),
	@Estado bit
AS
BEGIN
    UPDATE Proveedor
    SET nombre = @nombre, telefono = @telefono, correo = @correo, direccion = @direccion, Estado = @Estado
    WHERE idProveedor = @idProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[validarCambioContrasenna]    Script Date: 13/6/2024 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[validarCambioContrasenna]
@correo varchar(100),
@contrasenna varchar(150),
@usuario varchar(100),
@idUsuario bigint
as
begin
	update usuario
	set contrasenna= @contrasenna
	where idUsuario = @idUsuario and correo= @correo and Usuario=@usuario

end
GO
USE [master]
GO
