USE [master]
GO
/****** Object:  Database [BDCredimuebles]    Script Date: 10/7/2024 15:09:49 ******/
CREATE DATABASE [BDCredimuebles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDCredimuebles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCredimuebles.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDCredimuebles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCredimuebles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDCredimuebles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDCredimuebles]
GO
/****** Object:  Table [dbo].[BitacoraProducto]    Script Date: 10/7/2024 15:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraProducto](
	[idBProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[IdProducto] [bigint] NULL,
	[idUsuario] [bigint] NULL,
	[accion] [varchar](100) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK__Bitacora__670B5F3242441178] PRIMARY KEY CLUSTERED 
(
	[idBProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraProveedores]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraProveedores](
	[idBProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[accion] [varchar](50) NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK__Bitacora__2075B6F89E93020D] PRIMARY KEY CLUSTERED 
(
	[idBProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[idCategoria] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK__Categori__8A3D240CF24AA476] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comisiones]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comisiones](
	[idComision] [bigint] IDENTITY(1,1) NOT NULL,
	[idSalida] [bigint] NULL,
	[fecha] [date] NULL,
	[descripcion] [varchar](255) NULL,
	[monto] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Comision__12A3EDC23A16B5BE] PRIMARY KEY CLUSTERED 
(
	[idComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlCaja]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlCaja](
	[fechaID] [date] NOT NULL,
	[totalventas] [int] NULL,
	[montoVentas] [decimal](10, 2) NULL,
	[ganancia] [decimal](10, 2) NULL,
	[comisiones] [decimal](10, 2) NULL,
	[idGasto] [bigint] NULL,
	[totalCaja] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fechaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorCobrar]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorCobrar](
	[idCuenta] [bigint] IDENTITY(1,1) NOT NULL,
	[idCliente] [bigint] NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[plazo] [int] NOT NULL,
	[montoPagado] [decimal](10, 2) NOT NULL,
	[fechaAbono] [date] NULL,
	[saldo] [decimal](10, 2) NOT NULL,
	[proximoPago] [date] NULL,
 CONSTRAINT [PK__CuentasP__BBC6DF3293B72670] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[idGasto] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[monto] [decimal](10, 2) NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK__Gastos__F25CC32111B36A4A] PRIMARY KEY CLUSTERED 
(
	[idGasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[idMetodoPago] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[comision] [decimal](10, 2) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__MetodosP__817BFC32101CBA8F] PRIMARY KEY CLUSTERED 
(
	[idMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Email] [nvarchar](256) NOT NULL,
	[Token] [nvarchar](256) NOT NULL,
	[Expiration] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[idCategoria] [bigint] NULL,
	[idProveedor] [bigint] NULL,
	[cantidadStock] [int] NULL,
	[costo] [decimal](10, 2) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__Producto__07F4A1321BC6B0C7] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoSalida]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoSalida](
	[idLinea] [bigint] IDENTITY(1,1) NOT NULL,
	[IdSalida] [bigint] NULL,
	[idProducto] [bigint] NULL,
	[cantidad] [int] NULL,
	[costoSalida] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Producto__4F210ABFB723F06E] PRIMARY KEY CLUSTERED 
(
	[idLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK__Proveedo__A3FA8E6BC248ADFA] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salidas]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salidas](
	[idSalida] [bigint] IDENTITY(1,1) NOT NULL,
	[idCliente] [bigint] NULL,
	[cantidadProductos] [int] NULL,
	[idMetodoPago] [bigint] NULL,
	[montoDeVenta] [decimal](10, 2) NULL,
	[costoVenta] [decimal](10, 2) NULL,
	[idVendedor] [bigint] NULL,
	[ganancia] [decimal](10, 2) NULL,
	[fecha] [date] NULL,
	[comisionVendedor] [decimal](10, 2) NULL,
	[comisionVenta] [decimal](10, 2) NULL,
	[numeroFactura] [varchar](50) NULL,
 CONSTRAINT [PK__Salidas__25AFC22A47FAD7CD] PRIMARY KEY CLUSTERED 
(
	[idSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[idrol] [bigint] NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](100) NULL,
	[contrasenna] [varchar](100) NULL,
	[correo] [varchar](100) NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [varchar](255) NULL,
	[estado] [bit] NULL,
	[usuario] [varchar](50) NULL,
	[cedula] [varchar](50) NULL,
 CONSTRAINT [PK__Usuario__080A974337FC8558] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriaProducto] ON 

INSERT [dbo].[CategoriaProducto] ([idCategoria], [descripcion]) VALUES (1, N'Sofás')
INSERT [dbo].[CategoriaProducto] ([idCategoria], [descripcion]) VALUES (2, N'Camas')
INSERT [dbo].[CategoriaProducto] ([idCategoria], [descripcion]) VALUES (3, N'Juegos de sala')
SET IDENTITY_INSERT [dbo].[CategoriaProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodosPago] ON 

INSERT [dbo].[MetodosPago] ([idMetodoPago], [descripcion], [comision], [estado]) VALUES (1, N'Tasa 0 6 meses Bac', CAST(12.50 AS Decimal(10, 2)), 1)
INSERT [dbo].[MetodosPago] ([idMetodoPago], [descripcion], [comision], [estado]) VALUES (2, N'Tasa 0 3 meses Bac', CAST(12.50 AS Decimal(10, 2)), 1)
INSERT [dbo].[MetodosPago] ([idMetodoPago], [descripcion], [comision], [estado]) VALUES (3, N'Tasa 0 6 meses BN', CAST(10.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[MetodosPago] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [nombre], [idCategoria], [idProveedor], [cantidadStock], [costo], [estado]) VALUES (1, N'Sofa Cama', 1, 2, 4, CAST(45000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([idProducto], [nombre], [idCategoria], [idProveedor], [cantidadStock], [costo], [estado]) VALUES (2, N'Sala 3-2 Kali', 1, 1, 3, CAST(125000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([idProducto], [nombre], [idCategoria], [idProveedor], [cantidadStock], [costo], [estado]) VALUES (3, N'Cama King', 2, 2, 3, CAST(250000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoSalida] ON 

INSERT [dbo].[ProductoSalida] ([idLinea], [IdSalida], [idProducto], [cantidad], [costoSalida]) VALUES (2, 1, 1, 1, CAST(45000 AS Decimal(18, 0)))
INSERT [dbo].[ProductoSalida] ([idLinea], [IdSalida], [idProducto], [cantidad], [costoSalida]) VALUES (3, 1, 1, 2, CAST(45000 AS Decimal(18, 0)))
INSERT [dbo].[ProductoSalida] ([idLinea], [IdSalida], [idProducto], [cantidad], [costoSalida]) VALUES (4, 1, 1, 1, CAST(45000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ProductoSalida] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (1, N'Daniel Quiros', N'22580455', N'quiros@gmail.com', N'Sarchí', 0)
INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (2, N'Bismar', N'60609090', N'bismarkperosnal@gmail.com', N'Palmares', 1)
INSERT [dbo].[Proveedor] ([idProveedor], [nombre], [telefono], [correo], [direccion], [estado]) VALUES (8, N'Alfonso', N'61744942', N'josefino@yahoo.es', N'San Carlos', 1)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (2, N'Gerente')
INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (3, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Salidas] ON 

INSERT [dbo].[Salidas] ([idSalida], [idCliente], [cantidadProductos], [idMetodoPago], [montoDeVenta], [costoVenta], [idVendedor], [ganancia], [fecha], [comisionVendedor], [comisionVenta], [numeroFactura]) VALUES (1, 18, NULL, 3, CAST(85000.00 AS Decimal(10, 2)), NULL, 10023, NULL, CAST(N'2024-06-20' AS Date), CAST(4400.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Salidas] ([idSalida], [idCliente], [cantidadProductos], [idMetodoPago], [montoDeVenta], [costoVenta], [idVendedor], [ganancia], [fecha], [comisionVendedor], [comisionVenta], [numeroFactura]) VALUES (10002, 18, NULL, 1, CAST(250000.00 AS Decimal(10, 2)), NULL, 10023, NULL, NULL, CAST(4400.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Salidas] ([idSalida], [idCliente], [cantidadProductos], [idMetodoPago], [montoDeVenta], [costoVenta], [idVendedor], [ganancia], [fecha], [comisionVendedor], [comisionVenta], [numeroFactura]) VALUES (10042, 10025, 1, 5, CAST(250000.00 AS Decimal(10, 2)), CAST(125000.00 AS Decimal(10, 2)), 10023, CAST(120000.00 AS Decimal(10, 2)), CAST(N'2024-07-03' AS Date), CAST(5000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'748')
SET IDENTITY_INSERT [dbo].[Salidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (18, 5, N'Cliente Prueba', N'Gonzales', N'Cliente11000', N'vmbryan040@gmail.com', N'60609090', N'San jose ', 1, N'Cliente110', N'100010008')
INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (10022, 5, N'BRYAN', N'VINDAS MARIN', NULL, NULL, N'61744942', N'Santa Ana San Jose Costa Rica, de la cruz roja 500m este', 1, NULL, N'118490748')
INSERT [dbo].[Usuario] ([idUsuario], [idrol], [nombre], [apellidos], [contrasenna], [correo], [telefono], [direccion], [estado], [usuario], [cedula]) VALUES (10023, 3, N'ALEJANDRO', N'QUESADA UGALDE', NULL, NULL, N'60609090', N'Sureños', 1, NULL, N'117950848')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[BitacoraProducto]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[BitacoraProducto] CHECK CONSTRAINT [FK_BitacoraProducto_Producto]
GO
ALTER TABLE [dbo].[BitacoraProducto]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraProducto_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[BitacoraProducto] CHECK CONSTRAINT [FK_BitacoraProducto_Usuario]
GO
ALTER TABLE [dbo].[Comisiones]  WITH CHECK ADD  CONSTRAINT [FK_Comisiones_Salidas] FOREIGN KEY([idSalida])
REFERENCES [dbo].[Salidas] ([idSalida])
GO
ALTER TABLE [dbo].[Comisiones] CHECK CONSTRAINT [FK_Comisiones_Salidas]
GO
ALTER TABLE [dbo].[ControlCaja]  WITH CHECK ADD  CONSTRAINT [FK_ControlCaja_Gastos] FOREIGN KEY([idGasto])
REFERENCES [dbo].[Gastos] ([idGasto])
GO
ALTER TABLE [dbo].[ControlCaja] CHECK CONSTRAINT [FK_ControlCaja_Gastos]
GO
ALTER TABLE [dbo].[CuentasPorCobrar]  WITH CHECK ADD  CONSTRAINT [FK_CuentasPorCobrar_Usuario] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[CuentasPorCobrar] CHECK CONSTRAINT [FK_CuentasPorCobrar_Usuario]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_CategoriaProducto] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CategoriaProducto] ([idCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_CategoriaProducto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
ALTER TABLE [dbo].[ProductoSalida]  WITH CHECK ADD  CONSTRAINT [FK_ProductoSalida_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[ProductoSalida] CHECK CONSTRAINT [FK_ProductoSalida_Producto]
GO
ALTER TABLE [dbo].[ProductoSalida]  WITH CHECK ADD  CONSTRAINT [FK_ProductoSalida_Salidas] FOREIGN KEY([IdSalida])
REFERENCES [dbo].[Salidas] ([idSalida])
GO
ALTER TABLE [dbo].[ProductoSalida] CHECK CONSTRAINT [FK_ProductoSalida_Salidas]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_MetodosPago] FOREIGN KEY([idMetodoPago])
REFERENCES [dbo].[MetodosPago] ([idMetodoPago])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_MetodosPago]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Usuario] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Usuario]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Usuario1] FOREIGN KEY([idVendedor])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Usuario1]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Roles] FOREIGN KEY([idrol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Roles]
GO
/****** Object:  StoredProcedure [dbo].[ActualizaProductosSalida]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizaProductosSalida](
    @idSalida bigint,
    @idProducto bigint,
    @cantidadSalida int
)
AS
BEGIN
    DECLARE @idmetodoPago bigint;
    DECLARE @costo decimal(10,2);
    DECLARE @costoVenta decimal(10,2);

    SET @costo = (SELECT costo FROM Producto WHERE idProducto = @idProducto);

    SET @costoVenta = @costo * @cantidadSalida;

	delete from ProductoSalida where IdSalida=@idSalida;/*Borra los registros de esa salida y hace todo el cálculo de nuevo*/
	UPDATE salidas
	SET cantidadProductos = NULL,
		costoVenta = NULL,
		ganancia = NULL,
		comisionvendedor = NULL,
		comisionventa = NULL
	WHERE IdSalida = @idSalida;	select * from salidas
    INSERT INTO ProductoSalida (IdSalida, idProducto, cantidad, costoSalida)
    VALUES (@idSalida, @idProducto, @cantidadSalida, @costo);

    UPDATE s
    SET s.cantidadProductos = (
        SELECT SUM(ps.cantidad)
        FROM ProductoSalida ps
        WHERE ps.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    UPDATE Salidas
    SET costoVenta = ISNULL(costoVenta, 0) + @costoVenta
    WHERE idSalida = @idSalida;


    UPDATE s
    SET comisionVendedor = (
        SELECT s.montoDeVenta * 0.02
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    -- Obtener el método de pago
    SET @idmetodoPago = (SELECT idMetodoPago FROM Salidas WHERE idSalida = @idSalida);


    UPDATE s
    SET comisionVenta = (
        SELECT s.montoDeVenta * (mp.comision / 100)
        FROM MetodosPago mp
        WHERE mp.idMetodoPago = @idmetodoPago
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

  
    UPDATE s
    SET ganancia = (
        SELECT s.montoDeVenta - s.costoVenta - s.comisionVendedor - s.comisionVenta
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProducto]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarProducto]
    @nombre VARCHAR(255),
    @idCategoria BIGINT,
	@idProducto BIGINT,
    @idProveedor BIGINT,
    @cantidadStock INT,
    @costo DECIMAL(18, 2)
AS
BEGIN

    UPDATE [BDCredimuebles].[dbo].[Producto]
    SET nombre = @nombre,
        idCategoria = @idCategoria,
        idProveedor = @idProveedor,
        cantidadStock = @cantidadStock,
        costo = @costo
    WHERE idProducto = @idProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarSalida]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE procedure [dbo].[ActualizarSalida](
	@idsalida bigint,
	@cedulaCliente varchar(100),
	@nombreCliente varchar(100),
	@apellidosCliente varchar(100),
	@telefonoCliente varchar(100),
	@direccionCliente varchar(100),
	@numeroFactura varchar(50),
	@idMetodoPago bigint,
	@idVendedor bigint,
	@fecha date,
	@MontoDeVenta decimal(10,2)
	)
	as
	begin
	update u
	SET u.nombre = @nombreCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;
	update u
	SET u.apellidos = @apellidosCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;
	update u
	SET u.telefono = @telefonoCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;
	update u
	SET u.direccion = @direccionCliente
	FROM usuario u
	INNER JOIN salidas s ON s.idCliente = u.idUsuario
	WHERE s.idSalida = @idSalida;

	update Salidas
	SET numeroFactura= @numeroFactura
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET idMetodoPago= @idMetodoPago
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET idVendedor= @idVendedor
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET fecha= @fecha
	WHERE salidas.idSalida = @idSalida;

	update Salidas
	SET montoDeVenta = @MontoDeVenta
	WHERE salidas.idSalida = @idSalida;

	end
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuario]
	@idUsuario BIGINT,
	@nombre NVARCHAR(100),
    @apellidos NVARCHAR(100),
 -- Este parámetro estaba faltando
    @correo NVARCHAR(100),
    @telefono NVARCHAR(15),
    @direccion NVARCHAR(200),
    @estado BIT,
    @idRol BIGINT,
    @cedula NVARCHAR(20)
AS
BEGIN
UPDATE Usuario
    SET
        nombre = @nombre,
        apellidos = @apellidos,
        correo = @correo,
        telefono = @telefono,
        direccion = @direccion,
        estado = @estado,
        idRol = @idRol,
        cedula = @cedula
    WHERE
        idUsuario = @idUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[AddProveedor]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProveedor]
    @nombre NVARCHAR(100),
    @telefono NVARCHAR(50),
    @correo NVARCHAR(100),
    @direccion NVARCHAR(200),
	@Estado bit
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM Proveedor WHERE Correo = @correo)
    INSERT INTO Proveedor (nombre, telefono, correo, direccion, Estado)
    VALUES (@nombre, @telefono, @correo, @direccion,@Estado);

    SELECT CAST(SCOPE_IDENTITY() AS int) AS idProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[AgregarProducto]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[AgregarProducto]
    @nombre VARCHAR(255),
    @idCategoria BIGINT,
    @idProveedor BIGINT,
    @cantidadStock INT,
    @costo DECIMAL(18, 2)
AS
BEGIN


    INSERT INTO [BDCredimuebles].[dbo].[Producto] (nombre, idCategoria, idProveedor, cantidadStock, costo, estado)
    VALUES (@nombre, @idCategoria, @idProveedor, @cantidadStock, @costo, 1);

END
GO
/****** Object:  StoredProcedure [dbo].[BuscarProducto]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[BuscarProducto]

    @id INT
AS
BEGIN


   select prod.idProducto,prod.nombre, c.descripcion as CategoriaNombre, p.nombre as proveedor_nombre, cantidadStock, costo, prod.estado, prod.idCategoria, prod.idProveedor
   from  [BDCredimuebles].[dbo].[Producto] prod
   inner join [BDCredimuebles].[dbo].CategoriaProducto c
   on prod.idCategoria=c.idCategoria
   inner join Proveedor p
   on prod.idProveedor=p.idProveedor
    where prod.idProducto= @id;

END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoUsuario]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[CambiarEstadoUsuario](
@q bigint
)
as
begin
	Declare @estado bit
	set @estado= (select estado from usuario where idUsuario=@q)

	if @estado=1
	begin
		update usuario
		set estado= 0
		where idUsuario=@q
	end

	if @estado=0
	begin
		update usuario
		set estado= 1
		where idUsuario=@q
	end
end
GO
/****** Object:  StoredProcedure [dbo].[consultarCorreo]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[consultarCorreo]
@correo varchar(150)
as
begin
	select idUsuario, nombre
	from usuario
	where usuario.correo=@correo and usuario.estado=1
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarMetodosPago]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarMetodosPago]
as
begin
	select idMetodoPago 'value', descripcion'text' from MetodosPago where estado=1;
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarProductosDeSalida]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarProductosDeSalida](
@idsalida bigint)
as
begin

    SELECT p.idProducto,p.nombre, p.costo,ps.cantidad
    FROM ProductoSalida ps, Producto p
	where p.idProducto=ps.idProducto and ps.idsalida=@idsalida
    ORDER BY Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarProductosParaSalidas]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarProductosParaSalidas]
as
begin

    SELECT idProducto, nombre, costo
    FROM Producto where estado=1 and cantidadStock>1
    ORDER BY Nombre
END
select * from Producto
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRoles]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarRoles]
as
begin
SELECT idRol , descripcion from roles
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarSalidas]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarSalidas]
as
begin

	select s.idSalida,s.idCliente,concat(u.nombre,' ',u.apellidos) as nombreCliente,
		   s.costoVenta ,sum(p.cantidad) as cantidad,
		   m.descripcion as metodoPago, s.MontoDeVenta,
		   s.ganancia, concat(v.nombre,' ', v.apellidos)as vendedor,
		   s.comisionVendedor, s.comisionVenta, s.Fecha  

	from salidas s
		INNER JOIN Usuario u     ON s.idCliente    = u.idUsuario
		INNER JOIN MetodosPago m ON s.idMetodoPago = m.idMetodoPago
		INNER JOIN Usuario v     ON s.idVendedor   = v.idUsuario
		INNER JOIN ProductoSalida p ON s.idSalida  = p.IdSalida
	WHERE 
		v.idRol = 3
	GROUP BY
		s.idSalida,
		s.idCliente,
		s.costoVenta,
		CONCAT(u.nombre, ' ', u.apellidos),
		m.descripcion,
		s.MontoDeVenta,
		s.ganancia,
		CONCAT(v.nombre, ' ', v.apellidos),
		s.comisionVendedor,
		s.comisionVenta,
		s.Fecha;
 
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuario]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ConsultarUsuario](
@q bigint)
as
begin
	select 
		u.nombre,u.idrol,u.apellidos,u.cedula,u.correo,u.telefono,u.direccion,u.estado
	from usuario u, roles r
	where u.idrol=r.IdRol and @q= u.idUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuarioByCorreo]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarUsuarioByCorreo]
    @Correo NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT *
    FROM Usuario
    WHERE Correo = @Correo;
END;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuarioById]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarUsuarioById]
    @idUsuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.idUsuario,
        u.nombre,
        u.apellidos,
        u.correo,
        u.telefono,
        u.direccion,
        u.estado,
        u.idRol,
        u.cedula,
        r.Descripcion AS descripcionRol -- Suponiendo que la tabla de roles tiene un campo llamado nombreRol
    FROM 
        Usuario u
    LEFT JOIN 
        Roles r ON u.idRol = r.IdRol
    WHERE 
        u.idUsuario = @idUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarVendedores]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarVendedores]
as
begin
	select idUsuario 'value', concat(nombre,' ', apellidos)'text' from Usuario where idRol=3;
end
GO
/****** Object:  StoredProcedure [dbo].[CreatePasswordResetToken]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreatePasswordResetToken]
    @Email NVARCHAR(256),
    @Token NVARCHAR(256),
    @Expiration DATETIME
AS
BEGIN
    -- Eliminar tokens anteriores si existen
    DELETE FROM PasswordResetTokens
    WHERE Email = @Email

    -- Insertar el nuevo token
    INSERT INTO PasswordResetTokens (Email, Token, Expiration)
    VALUES (@Email, @Token, @Expiration)
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePasswordResetToken]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePasswordResetToken]
    @Email NVARCHAR(256),
    @Token NVARCHAR(256)
AS
BEGIN
    -- Código para eliminar el token
    DELETE FROM PasswordResetTokens
    WHERE Email = @Email AND Token = @Token
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivarActivarProducto]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarActivarProducto]  
   ( @idProducto BIGINT  )
AS  
BEGIN  
    DECLARE @EstadoActual BIT;  
  
    -- Obtener el estado actual del producto  
    SELECT @EstadoActual = Estado  
    FROM Producto  
    WHERE idProducto = @idProducto;  
  
    -- Si el producto está activo, desactivarlo; si está inactivo, activarlo  
    IF @EstadoActual = 1  
    BEGIN  
        UPDATE Producto  
        SET Estado = 0  
        WHERE idProducto = @idProducto;  
        SELECT 'Producto desactivado exitosamente' AS Mensaje;  
    END  
    ELSE  
    BEGIN  
        UPDATE Producto  
        SET Estado = 1  
        WHERE idProducto = @idProducto;  
        SELECT 'Producto activado exitosamente' AS Mensaje;  
    END  
END 
GO
/****** Object:  StoredProcedure [dbo].[DesactivarActivarProveedorBD]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarActivarProveedorBD]
    @idProveedor INT
AS
BEGIN
    DECLARE @EstadoActual BIT;

    -- Obtener el estado actual del proveedor
    SELECT @EstadoActual = Estado
    FROM Proveedor
    WHERE idProveedor = @idProveedor;

    -- Si el proveedor está activo, desactivarlo; si está inactivo, activarlo
    IF @EstadoActual = 1
    BEGIN
        UPDATE Proveedor
        SET Estado = 0
        WHERE idProveedor = @idProveedor;
    END
    ELSE
    BEGIN
        UPDATE Proveedor
        SET Estado = 1
        WHERE idProveedor = @idProveedor;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[DesactivarActivarUsuario]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarActivarUsuario]
    @idUsuario BIGINT
AS
BEGIN
    DECLARE @EstadoActual BIT;

    -- Obtener el estado actual del usuario
    SELECT @EstadoActual = estado
    FROM Usuario
    WHERE idUsuario = @idUsuario;

    -- Si el usuario está activo, desactivarlo; si está inactivo, activarlo
    IF @EstadoActual = 1
    BEGIN
        UPDATE Usuario
        SET estado = 0
        WHERE idUsuario = @idUsuario;
        SELECT 'Usuario desactivado exitosamente' AS Mensaje;
    END
    ELSE
    BEGIN
        UPDATE Usuario
        SET estado = 1
        WHERE idUsuario = @idUsuario;
        SELECT 'Usuario activado exitosamente' AS Mensaje;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GETALLCATEGORIAS]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETALLCATEGORIAS]  
AS  
BEGIN  
 SELECT idCategoria,descripcion  
 from CategoriaProducto  
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductos]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProductos]  
AS  
BEGIN  
    SELECT   
        p.idProducto,  
        p.nombre,  
        p.idCategoria,  
        p.cantidadStock,  
        p.costo,  
        p.estado,  
   
        c.descripcion AS categoriaNombre  
    FROM   
        Producto p  
    INNER JOIN   
        CategoriaProducto c ON p.idCategoria = c.idCategoria;  
END
GO
/****** Object:  StoredProcedure [dbo].[GetProveedorByID]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProveedorByID]
    @idProveedor INT
AS
BEGIN
    SELECT * FROM Proveedor WHERE idProveedor = @idProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[GetProveedores]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetProveedores]
as
begin
	select idProveedor,nombre,telefono,correo,direccion,estado
	from proveedor
	where estado=1

end
GO
/****** Object:  StoredProcedure [dbo].[GetProveedoresByName]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para obtener proveedores por nombre
CREATE PROCEDURE [dbo].[GetProveedoresByName]
    @nombre NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Proveedor WHERE nombre LIKE @nombre + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[getUserbyEmail]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getUserbyEmail]  
    @correo NVARCHAR(100)  
AS  
BEGIN  
    SELECT u.idUsuario, u.nombre, u.Usuario, u.apellidos, u.contrasenna, u.correo, u.telefono, u.direccion, u.estado, u.idRol, u.cedula, r.Descripcion AS descripcionRol
    FROM Usuario u
    JOIN Roles r ON u.idRol = r.idRol
    WHERE u.correo = @correo;
END
GO
/****** Object:  StoredProcedure [dbo].[IniciarSesion]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[IniciarSesion]
@correo varchar(150),
@contrasenna varchar(150)
as
begin

	select U.idUsuario, u.usuario ,
	r.Descripcion as descripcionRol
	from Usuario U, Roles R
	where U.contrasenna = @contrasenna and (U.usuario=@correo or U.correo=@correo) and U.estado=1 and r.IdRol=U.idrol

end
GO
/****** Object:  StoredProcedure [dbo].[ListarClientes]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarClientes]
as
begin
	select u.idusuario, concat(u.nombre,' ',u.apellidos) as nombreCompleto,u.correo,u.telefono,u.cedula,r.idRol,r.Descripcion as descripcionRol
	from usuario u, Roles r
	where r.IdRol=u.idrol and u.idRol=5
end
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarUsuarios]
as
begin
	select u.idusuario, concat(u.nombre,' ',u.apellidos) as nombreCompleto,u.correo,u.telefono,r.Descripcion as descripcionRol
	from usuario u, Roles r
	where r.IdRol=u.idrol and u.idrol!=5
end
GO
/****** Object:  StoredProcedure [dbo].[registrarCliente]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrarCliente]
    @nombre NVARCHAR(100),
    @apellidos NVARCHAR(100),
    @contrasenna NVARCHAR(255), -- Este parámetro estaba faltando
    @correo NVARCHAR(100),
    @telefono NVARCHAR(15),
    @direccion NVARCHAR(200),
    @estado BIT,
    @idRol BIGINT,
    @cedula NVARCHAR(20)
AS
BEGIN
    BEGIN TRY
        -- Verificar si ya existe un usuario con el mismo correo
        IF EXISTS (SELECT 1 FROM Usuario WHERE correo = @correo)
        BEGIN
            -- Devolver un código de error o mensaje indicando que el correo ya está registrado
            RAISERROR('El correo ya está registrado.', 16, 1);
            RETURN;
        END

        -- Insertar el nuevo usuario
        INSERT INTO Usuario (nombre, apellidos,  contrasenna, correo, telefono, direccion, estado, idRol, cedula)
        VALUES (@nombre, @apellidos, @contrasenna, @correo, @telefono, @direccion, @estado, @idRol, @cedula);
    END TRY
    BEGIN CATCH
        -- Capturar errores y devolver información detallada
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarProductosSalida]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarProductosSalida](
    @idSalida bigint,
    @idProducto bigint,
    @cantidadSalida int
)
AS
BEGIN
    DECLARE @idmetodoPago bigint;
    DECLARE @costo decimal(10,2);
    DECLARE @costoVenta decimal(10,2);

    SET @costo = (SELECT costo FROM Producto WHERE idProducto = @idProducto);

    SET @costoVenta = @costo * @cantidadSalida;

    INSERT INTO ProductoSalida (IdSalida, idProducto, cantidad, costoSalida)
    VALUES (@idSalida, @idProducto, @cantidadSalida, @costo);

	update Producto
	set cantidadStock= cantidadStock-@cantidadSalida
	where Producto.idProducto=@idProducto
    UPDATE s
    SET s.cantidadProductos = (
        SELECT SUM(ps.cantidad)
        FROM ProductoSalida ps
        WHERE ps.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    UPDATE Salidas
    SET costoVenta = ISNULL(costoVenta, 0) + @costoVenta
    WHERE idSalida = @idSalida;


    UPDATE s
    SET comisionVendedor = (
        SELECT s.montoDeVenta * 0.02
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

    -- Obtener el método de pago
    SET @idmetodoPago = (SELECT idMetodoPago FROM Salidas WHERE idSalida = @idSalida);


    UPDATE s
    SET comisionVenta = (
        SELECT s.montoDeVenta * (mp.comision / 100)
        FROM MetodosPago mp
        WHERE mp.idMetodoPago = @idmetodoPago
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;

  
    UPDATE s
    SET ganancia = (
        SELECT s.montoDeVenta - s.costoVenta - s.comisionVendedor - s.comisionVenta
        FROM Salidas s2
        WHERE s2.idSalida = s.idSalida
    )
    FROM Salidas s
    WHERE s.idSalida = @idSalida;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarSalida]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RegistrarSalida](
/*@idCliente bigint,*/
@idMetodoPago bigint,
@MontoDeVenta decimal(10,2),
@idVendedor bigint,
@fecha date,
@cedulaCliente varchar(15),
@nombreCliente varchar(20),
@apellidosCliente varchar(40),
@direccionCliente varchar(300),
@telefonoCliente varchar(12),
@numeroFactura varchar(50),
@SalidaID bigint OUTPUT)
as
begin

 Declare @ExisteCliente int;
 Declare @idsalida bigint;
 Declare @idCliente bigint;
 
 set @ExisteCliente= (select count(*) from Usuario where cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente);

 if EXISTS(select 1 from Usuario where cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente)
    begin
		select @idCliente=idUsuario
		from usuario 
		where  cedula= @cedulaCliente and upper(nombre)=@nombreCliente and upper(apellidos)=@apellidosCliente
end
else
	begin
		insert into usuario(idrol,nombre,apellidos, telefono,direccion,estado,cedula)
		values(5,@nombreCliente,@apellidosCliente,@telefonoCliente,@direccionCliente,1,@cedulaCliente)
		set  @idCliente= SCOPE_IDENTITY();
	end


	insert into Salidas(idCliente,idMetodoPago,montoDeVenta,idVendedor,numeroFactura,fecha,costoVenta)
	values(@idCliente,@idMetodoPago,@MontoDeVenta,@idVendedor,@numeroFactura,@fecha,0)
	
SET @SalidaID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[registrarUsuario]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrarUsuario]
    @nombre NVARCHAR(100),
    @Usuario NVARCHAR(100),
    @apellidos NVARCHAR(100),
    @nombreCompleto NVARCHAR(200),
    @contrasenna NVARCHAR(255),
    @correo NVARCHAR(100),
    @telefono NVARCHAR(15),
    @direccion NVARCHAR(200),
    @estado BIT,
    @idRol BIGINT,
    @cedula NVARCHAR(20)
AS
BEGIN
    -- Verificar si ya existe un usuario con el mismo correo
    IF EXISTS (SELECT 1 FROM Usuarios WHERE correo = @correo)
    BEGIN
        -- Devolver un código de error o mensaje indicando que el correo ya está registrado
        RAISERROR('El correo ya está registrado.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo usuario
    INSERT INTO Usuarios (nombre, Usuario, apellidos, nombreCompleto, contrasenna, correo, telefono, direccion, estado, idRol, cedula)
    VALUES (@nombre, @Usuario, @apellidos, @nombreCompleto, @contrasenna, @correo, @telefono, @direccion, @estado, @idRol, @cedula);
END
GO
/****** Object:  StoredProcedure [dbo].[ResetPassword]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetPassword]
    @Email NVARCHAR(256),
    @NewPassword NVARCHAR(256)
AS
BEGIN
    -- Código para actualizar la contraseña del usuario
    UPDATE Usuario
    SET contrasenna = @NewPassword
    WHERE correo = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProveedorBD]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProveedorBD]
    @idProveedor INT,
    @nombre NVARCHAR(100),
    @telefono NVARCHAR(50),
    @correo NVARCHAR(100),
    @direccion NVARCHAR(200),
	@Estado bit
AS
BEGIN
    UPDATE Proveedor
    SET nombre = @nombre, telefono = @telefono, correo = @correo, direccion = @direccion, Estado = @Estado
    WHERE idProveedor = @idProveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[validarCambioContrasenna]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[validarCambioContrasenna]
@correo varchar(100),
@contrasenna varchar(150),
@usuario varchar(100),
@idUsuario bigint
as
begin
	update usuario
	set contrasenna= @contrasenna
	where idUsuario = @idUsuario and correo= @correo and Usuario=@usuario

end
GO
/****** Object:  StoredProcedure [dbo].[VerifyPasswordResetToken]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[VerifyPasswordResetToken]
    @Email NVARCHAR(256),
    @Token NVARCHAR(256)
AS
BEGIN
    -- Verificar el token
    SELECT * FROM PasswordResetTokens
    WHERE Email = @Email AND Token = @Token AND Expiration > GETUTCDATE()

    -- Eliminar el token después de verificarlo
    DELETE FROM PasswordResetTokens
    WHERE Email = @Email AND Token = @Token
END
GO
/****** Object:  StoredProcedure [dbo].[VerSalida]    Script Date: 10/7/2024 15:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[VerSalida](
@idsalida bigint
)
as
begin

select s.idsalida ,u.cedula as cedulaCliente, u.nombre  as nombreCliente,u.apellidos as apellidosCliente, s.cantidadProductos as cantidad, s.idMetodoPago,s.montodeventa,
s.idVendedor,s.comisionVenta,s.numeroFactura,s.costoVenta,s.fecha,u.telefono as telefonoCliente, u.direccion as direccionCliente
from salidas s, Usuario u
where s.idsalida= @idsalida and s.idCliente= u.idUsuario 
end
GO
USE [master]
GO
