@{
    ViewData["Title"] = "InicioDeSesion";
    Layout = "~/Views/Shared/Layout_login.cshtml";
}
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 login-bg" style="text-align:center">
            <img src="~/logoc2.PNG" alt="100" width="200px" align="middle" />
            <h2 class="section-title">&nbsp;</h2>
            <h3 class="section-title">Ingrese los datos solicitados</h3>

            <div class="row my-5" style="justify-content:center">
                <div class="col-6 col-md-6">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {

                        <div class="row">
                            <div class="form-group py-2">
                                <div class="input-login">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" class="input-l" id="fname" placeholder="Usuario">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group py-2">
                                <div class="input-login">
                                    <span class="fa fa-lock p-2"></span>
                                    <input type="password" class="input-l" placeholder="Contraseña" id="contra">

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Ingresar <i class=" fa-solid fa-arrow-right-to-bracket"> </i></button>

                    }
                </div>
            </div>
            <div class="row my-5">
                <a href="@Url.Action("RecuperarContrasenna","Inicio")">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/forgot.png" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Recuperar Contraseña</h3>
                            <p>Da click acá para recuperar la contraseña mediante tu correo electrónico</p>
                        </div>
                </a>
            </div>



            <div class="col-6 col-md-6">
                <div class="feature">
                    <div class="icon">
                        <img src="images/TipoCambio.png" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Tipo De Cambio</h3>
                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                </div>
            </div>



        </div>
    </div>

    <div class="col-lg-5">
        <div class="img-wrap">
            <img src="images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
        </div>
    </div>

</div>
</div>