@{
    ViewData["Title"] = "InicioDeSesion";
    Layout = "~/Views/Shared/Layout_login.cshtml";
}
<div class="container  ">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 login-bg" style="text-align:center">
            <img src="~/logoc2.PNG" alt="100" width="200px" align="middle" />
            <h2 class="section-title">&nbsp;</h2>
            <h3 class="section-title">Recuperar Contraseña</h3>

            <div class="row my-5" style="justify-content:center">
                <div class="col-12 col-md-6">
                    <h4 class="section-title">Ingrese su correo electrónico</h4>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {

                        <div class="row">
                            <div class="form-group py-2">
                                <div class="input-login">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input type="text" class="input-l" id="fname" placeholder="Correo">

                                </div>
                            </div>
                        </div>

                        <a href="@Url.Action("InicioDeSesion","Inicio")" type="submit" class="btn btn-danger"> Atrás <i class=" fa-solid fa-arrow-left-to-bracket"> </i></a>
                        <button type="submit" class="btn btn-danger">Validar <i class=" fa-solid fa-arrow-right-to-bracket"> </i></button>

                    }
                </div>
            </div>
         
            </div>
        </div>
    <div class="col-lg-12">
        <div class="">
       
        </div>
    </div>
    </div>
</div>