
@{
    ViewData["Title"] = "ListadoProveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

	<div class="container mt-4">
		<a href="@Url.Action("AgregarProveedor","Inventario")" class="btn" type="submit" id="button-addon2"> <i class="">Agregar Proveedor</i>  </a>
		<div class="row justify-content-end">
			<div class="col-md-6">
				<form action="#" method="GET" class="form-inline">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2">
						<div class="input-group-append">
						</div>
						<button class="btn" type="submit" id="button-addon2"> <i class=" fa fa-search"></i> </button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container mt-4">
		<table class="table table-hover" style="text-align:center">
			<thead>
				<tr>
					<th>Nombre del Proveedor</th>
					<th>Contacto</th>
					<th>Dirección</th>
					<th>Correo Electrónico</th>
					<th>Teléfono</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Proveedor 1</td>
					<td>Nombre del Contacto 1</td>
					<td>Dirección del Proveedor 1</td>
					<td>correo1@proveedor.com</td>
					<td>123-456-7890</td>
					<td style="text-align:center">
						<button class="btn btn-danger" data-toggle="modal" id="btn-Modal">Desactivar</button>
						<a href="@Url.Action("EditarProveedor","Inventario")" class="btn btn-danger" data-toggle="modal" id="btn-Modal">Editar</a>
					</td>
				</tr>
				<tr>
					<td>Proveedor 2</td>
					<td>Nombre del Contacto 2</td>
					<td>Dirección del Proveedor 2</td>
					<td>correo2@proveedor.com</td>
					<td>123-456-7890</td>
					<td style="text-align:center">
						<button class="btn btn-danger" data-toggle="modal" id="btn-Modal">Desactivar</button>
						<a href="@Url.Action("EditarProveedor","Inventario")" class="btn btn-danger" data-toggle="modal" id="btn-Modal">Editar</a>
					</td>
				</tr>
				<tr>
					<td>Proveedor 3</td>
					<td>Nombre del Contacto 3</td>
					<td>Dirección del Proveedor 3</td>
					<td>correo3@proveedor.com</td>
					<td>123-456-7890</td>
					<td style="text-align:center">
						<button class="btn btn-danger" data-toggle="modal" id="btn-Modal">Desactivar</button>
						<a href="@Url.Action("EditarProveedor","Inventario")" class="btn btn-danger" data-toggle="modal" id="btn-Modal">Editar</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	<nav aria-label="Page navigation example" style="background-color:white">
		<ul class="pagination justify-content-center" style="background-color:#dce5e4">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Siguiente</a>
			</li>
		</ul>
	</nav>

</div>

